@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
    }

    .xs\:hide {
        display: none;
    }
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.block {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
  }
  
  .block.layout {
    position: relative;
    overflow: hidden;
    min-height: 1024px;
  }
  
  .block1 {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .block1.layout {
    position: absolute;
    top: 0px;
    height: 1024px;
    left: 0px;
    width: 252px;
    min-width: 252px;
  }
  
  .image {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image.layout {
    position: absolute;
    top: 0px;
    height: 1024px;
    left: 251px;
    width: 1px;
    min-width: 1px;
  }
  
  .block2 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
  }
  
  .block2.layout {
    position: absolute;
    top: 32px;
    height: 27px;
    left: 32px;
    width: 187px;
    min-width: 187px;
  }
  
  .block3 {
    display: flex;
    flex-direction: column;
  }
  
  .block3.layout {
    position: absolute;
    top: 132px;
    height: 316px;
    left: 32px;
    width: 188px;
    min-width: 188px;
  }
  
  .block4 {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f7;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block4.layout {
    position: relative;
  }
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .group.layout {
    position: relative;
    height: 24px;
    width: 148px;
    min-width: 148px;
    margin: 10px 0px 0px 20px;
  }
  
  .block5 {
    display: flex;
  }
  
  .block5.layout {
    position: relative;
    flex-grow: 1;
  }
  
  .block5__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 24px;
  }
  
  .icon {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon.layout {
    position: relative;
    height: 24px;
    width: 24px;
    min-width: 24px;
  }
  
  .block5__spacer {
    flex: 0 1 12px;
  }
  
  .text_body {
    display: flex;
    align-items: center;
    font: 600 14px/1.5 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #141522;
    letter-spacing: -0.28px;
  }
  
  .text_body.layout {
    position: relative;
    flex: 0 0 auto;
    margin: 1.5px 36px 1.5px 0px;
  }
  
  .block6 {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block6.layout {
    position: relative;
    height: 44px;
    margin: 24px 0px 0px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex.layout {
    position: relative;
    flex-grow: 1;
    margin: 10px 20px;
  }
  
  .flex__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 24px;
  }
  
  .block7 {
    display: flex;
    flex-direction: column;
  }
  
  .block7.layout {
    position: relative;
    overflow: hidden;
    height: 24px;
  }
  
  .icon1 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon1.layout {
    position: absolute;
    top: 3px;
    height: 18px;
    left: 3px;
    width: 18px;
    min-width: 18px;
  }
  
  .box {
    background-color: #8e92bc;
    border-radius: 1px;
  }
  
  .box.layout {
    position: absolute;
    top: 8px;
    height: 8px;
    left: 11px;
    width: 2px;
    min-width: 2px;
  }
  
  .box1 {
    background-color: #8e92bc;
    border-radius: 1px;
  }
  
  .box1.layout {
    position: absolute;
    top: 11px;
    height: 2px;
    left: 8px;
    width: 8px;
    min-width: 8px;
  }
  
  .flex__spacer {
    flex: 0 1 12px;
  }
  
  .text_body1 {
    display: flex;
    align-items: center;
    font: 600 14px/1.5 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #8e92bc;
    letter-spacing: -0.28px;
  }
  
  .text_body1.layout {
    position: relative;
    flex: 0 0 auto;
    margin: 1.5px 55px 1.5px 0px;
  }
  
  .block8 {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block8.layout {
    position: relative;
    margin: 24px 0px 0px;
  }
  
  .block9 {
    display: flex;
  }
  
  .block9.layout {
    position: relative;
    flex-grow: 1;
  }
  
  .block9__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 24px;
  }
  
  .icon1.layout1 {
    position: relative;
    height: 24px;
    width: 24px;
    min-width: 24px;
  }
  
  .block9__spacer {
    flex: 0 1 12px;
  }
  
  .text_body1.layout1 {
    position: relative;
    flex: 0 0 auto;
    margin: 1.5px 64px 1.5px 0px;
  }
  
  .block9__item1 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 24px;
  }
  
  .block9__spacer1 {
    flex: 0 1 12px;
  }
  
  .text_body1.layout2 {
    position: relative;
    flex: 0 0 auto;
    margin: 1.5px 25px 1.5px 0px;
  }
  
  .block9__item2 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 24px;
  }
  
  .block9__spacer2 {
    flex: 0 1 12px;
  }
  
  .text_body1.layout3 {
    position: relative;
    flex: 0 0 auto;
    margin: 1.5px 33px 1.5px 0px;
  }
  
  .block10 {
    display: flex;
    flex-direction: column;
    background-color: #010101;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block10.layout {
    position: absolute;
    overflow: hidden;
    top: 744px;
    height: 248px;
    left: 32px;
    width: 188px;
    min-width: 188px;
  }
  
  .decorator {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .decorator.layout {
    position: absolute;
    top: -100px;
    height: 160px;
    left: -94px;
    width: 160px;
  }
  
  .decorator.layout1 {
    position: absolute;
    top: 168px;
    height: 160px;
    left: 120px;
    width: 160px;
  }
  
  .block11 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block11.layout {
    position: absolute;
    top: 192px;
    height: 40px;
    left: 16px;
    width: 156px;
    min-width: 156px;
  }
  
  .small_text_body {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 12px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #141522;
    text-align: center;
    letter-spacing: -0.24px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  
  .block12 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
  }
  
  .block12.layout {
    position: absolute;
    top: 35px;
    height: 144px;
    left: 22px;
    width: 144px;
    min-width: 144px;
  }
  
  .box4 {
    background-color: white;
  }
  
  .box4.layout {
    position: relative;
    height: 27px;
    width: 37px;
    min-width: 37px;
    margin: 31px 0px 0px 59px;
  }
  
  .box5 {
    background-color: #54577a;
    border-radius: 22px 22px 22px 22px;
  }
  
  .box5.layout {
    position: absolute;
    top: 726px;
    height: 44px;
    left: 102px;
    width: 48px;
    min-width: 48px;
  }
  
  .box6 {
    background-color: #141522;
    border: 4px solid white;
    border-radius: 24px 24px 24px 24px;
  }
  
  .box6.layout {
    position: absolute;
    top: 718px;
    height: 48px;
    left: 102px;
    width: 48px;
    min-width: 48px;
  }
  
  .big_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 28px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: white;
    text-align: center;
    letter-spacing: 0.28px;
  }
  
  .big_title.layout {
    position: absolute;
    top: 725px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 0px;
    right: 0px;
    width: 9.52%;
    margin: 0px auto;
  }
  
  .block13 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block13.layout {
    position: absolute;
    top: 118px;
    height: 116px;
    left: 854px;
    width: 268px;
    min-width: 268px;
  }
  
  .subtitle {
    font: 800 22px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
    opacity: 0.69;
  }
  
  .subtitle.layout {
    position: absolute;
    top: 33px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 112px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .text_body2 {
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
    opacity: 0.69;
  }
  
  .text_body2.layout {
    position: absolute;
    top: 62px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 112px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .block14 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 143, 107, 0.101);
    border-radius: 30px 30px 30px 30px;
  }
  
  .block14.layout {
    position: absolute;
    top: 28px;
    height: 60px;
    left: 29px;
    width: 60px;
    min-width: 60px;
  }
  
  .block15 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block15.layout {
    position: absolute;
    top: 118px;
    height: 116px;
    left: 562px;
    width: 268px;
    min-width: 268px;
  }
  
  .subtitle.layout1 {
    position: absolute;
    top: 33px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 111px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .text_body2.layout1 {
    position: absolute;
    top: 62px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 111px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .block16 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 214, 107, 0.203);
    border-radius: 30px 30px 30px 30px;
  }
  
  .block16.layout {
    position: absolute;
    top: 146px;
    height: 60px;
    left: 590px;
    width: 60px;
    min-width: 60px;
  }
  
  .box7 {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
  }
  
  .box7.layout {
    position: absolute;
    top: 118px;
    height: 116px;
    left: 270px;
    width: 268px;
    min-width: 268px;
  }
  
  .subtitle1 {
    font: 800 22px/1.2 "Nunito", Helvetica, Arial, serif;
    color: black;
    letter-spacing: 0px;
    opacity: 0.69;
  }
  
  .subtitle1.layout {
    position: absolute;
    top: 151px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 381px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .text_body2.layout2 {
    position: absolute;
    top: 182px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 381px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .box10 {
    background-color: #5b93ff;
    border-radius: 30px 30px 30px 30px;
    opacity: 0.1;
  }
  
  .box10.layout {
    position: absolute;
    top: 146px;
    height: 60px;
    left: 298px;
    width: 60px;
    min-width: 60px;
  }
  
  .icon1.layout2 {
    position: absolute;
    top: 166px;
    height: 24px;
    left: 901px;
    width: 24px;
    min-width: 24px;
  }
  
  .box7.layout1 {
    position: absolute;
    top: 118px;
    height: 116px;
    left: 1146px;
    width: 268px;
    min-width: 268px;
  }
  
  .subtitle.layout2 {
    position: absolute;
    top: 151px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 1257px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .text_body2.layout3 {
    position: absolute;
    top: 180px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 1257px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .box11 {
    background-color: #7927ff;
    border-radius: 30px 30px 30px 30px;
    opacity: 0.1;
  }
  
  .box11.layout {
    position: absolute;
    top: 146px;
    height: 60px;
    left: 1180px;
    width: 60px;
    min-width: 60px;
  }
  
  .icon2 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon2.layout {
    position: absolute;
    top: 166px;
    height: 20px;
    left: 610px;
    width: 20px;
    min-width: 20px;
  }
  
  .icon3 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon3.layout {
    position: absolute;
    top: 166px;
    height: 21px;
    left: 1200px;
    width: 21px;
    min-width: 21px;
  }
  
  .medium_title {
    font: 700 24px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
  }
  
  .medium_title.layout {
    position: absolute;
    top: 29px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 270px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .block17 {
    display: flex;
  }
  
  .block17.layout {
    position: absolute;
    top: 33px;
    height: 52px;
    left: 1286px;
    width: 128px;
    min-width: 128px;
  }
  
  .block17__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 52px;
  }
  
  .block18 {
    display: flex;
    flex-direction: column;
  }
  
  .block18.layout {
    position: relative;
    height: 52px;
  }
  
  .block19 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
  }
  
  .block19.layout {
    position: absolute;
    top: 14px;
    height: 24px;
    left: 14px;
    width: 24px;
    min-width: 24px;
  }
  
  .icon4 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon4.layout {
    position: relative;
    height: 8px;
    width: 8px;
    min-width: 8px;
    margin: 1px 0px 0px 14px;
  }
  
  .box12 {
    border: 1px solid #f5f5f7;
    border-radius: 26px 26px 26px 26px;
  }
  
  .box12.layout {
    position: absolute;
    top: 0px;
    height: 52px;
    left: 0px;
    width: 52px;
    min-width: 52px;
  }
  
  .block17__spacer {
    flex: 0 1 24px;
  }
  
  .icon5 {
    border-radius: 26px 26px 26px 26px;
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon5.layout {
    position: relative;
    height: 52px;
    width: 52px;
    min-width: 52px;
  }
  
  .box13 {
    background-color: white;
    border-radius: 9.2156867981px 9.2156867981px 9.2156867981px 9.2156867981px;
  }
  
  .box13.layout {
    position: absolute;
    top: 259px;
    height: 376px;
    left: 270px;
    width: 785px;
    min-width: 785px;
  }
  
  .box14 {
    background-color: white;
    border-radius: 9.2156867981px 9.2156867981px 9.2156867981px 9.2156867981px;
  }
  
  .box14.layout {
    position: absolute;
    top: 259px;
    height: 376px;
    left: 1074px;
    width: 340px;
    min-width: 340px;
  }
  
  .block20 {
    display: flex;
    flex-direction: column;
  }
  
  .block20.layout {
    position: absolute;
    top: 342px;
    height: 235px;
    left: 327px;
    width: 706px;
    min-width: 706px;
  }
  
  .line {
    background-color: #030229;
    opacity: 0.05;
  }
  
  .line.layout {
    position: absolute;
    top: 234px;
    height: 1px;
    left: 0px;
    width: 706px;
    min-width: 706px;
  }
  
  .line.layout1 {
    position: absolute;
    top: 187px;
    height: 1px;
    left: 0px;
    width: 706px;
    min-width: 706px;
  }
  
  .line.layout2 {
    position: absolute;
    top: 140px;
    height: 1px;
    left: 0px;
    width: 706px;
    min-width: 706px;
  }
  
  .line.layout3 {
    position: absolute;
    top: 93px;
    height: 1px;
    left: 0px;
    width: 706px;
    min-width: 706px;
  }
  
  .line.layout4 {
    position: absolute;
    top: 46px;
    height: 1px;
    left: 0px;
    width: 706px;
    min-width: 706px;
  }
  
  .line.layout5 {
    position: absolute;
    top: -1px;
    height: 1px;
    left: 0px;
    width: 706px;
  }
  
  .small_text_body1 {
    display: flex;
    justify-content: flex-end;
    font: 400 11.0588235855px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    text-align: right;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.69;
  }
  
  .small_text_body11 {
    font: 400 11.0588235855px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
    opacity: 0.69;
  }
  
  .small_text_body11.layout {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 328px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout1 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 389px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout2 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 452px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout3 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 515px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout4 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 578px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout5 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 643px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout6 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 704px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout7 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 761px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout8 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 827px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout9 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 890px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout10 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 952px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .small_text_body11.layout11 {
    position: absolute;
    top: 591px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 1016px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .cover {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .cover.layout {
    position: absolute;
    top: 406px;
    height: 171px;
    left: 328px;
    width: 705px;
    min-width: 705px;
  }
  
  .cover1 {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 3.6862745285px 3.6862745285px rgba(96, 91, 255, 0.168627451));
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .cover1.layout {
    position: absolute;
    top: 406px;
    height: 141px;
    left: 328px;
    width: 705px;
    min-width: 705px;
  }
  
  .icon6 {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 3.6862745285px 3.6862745285px rgba(96, 91, 255, 0.168627451));
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon6.layout {
    position: absolute;
    top: 437px;
    height: 13px;
    left: 450px;
    width: 13px;
    min-width: 13px;
  }
  
  .icon6.layout1 {
    position: absolute;
    top: 487px;
    height: 13px;
    left: 525px;
    width: 13px;
    min-width: 13px;
  }
  
  .icon6.layout2 {
    position: absolute;
    top: 455px;
    height: 13px;
    left: 623px;
    width: 13px;
    min-width: 13px;
  }
  
  .icon6.layout3 {
    position: absolute;
    top: 489px;
    height: 13px;
    left: 852px;
    width: 13px;
    min-width: 13px;
  }
  
  .icon6.layout4 {
    position: absolute;
    top: 416px;
    height: 13px;
    left: 932px;
    width: 13px;
    min-width: 13px;
  }
  
  .subtitle2 {
    font: 700 22.117647171px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
    opacity: 0.69;
  }
  
  .subtitle2.layout {
    position: absolute;
    top: 282px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 293px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .block21 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
    filter: drop-shadow(0px 3.6862745285px 6.4509801865px rgba(3, 2, 41, 0.0666666667));
  }
  
  .block21.layout {
    position: absolute;
    top: 392px;
    height: 59px;
    left: 589px;
    width: 82px;
    min-width: 82px;
  }
  
  .small_text_body2 {
    font: 400 11.0588235855px/1.2 "Nunito", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
    opacity: 0.8;
  }
  
  .small_text_body2.layout {
    position: absolute;
    top: 7px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 27px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .text_body3 {
    font: 600 14.745098114px/1.2 "Nunito", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
  }
  
  .text_body3.layout {
    position: absolute;
    top: 24px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 21px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .image4 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image4.layout {
    position: absolute;
    top: 468px;
    height: 108px;
    left: 629px;
    width: 1px;
    min-width: 1px;
  }
  
  .block22 {
    display: flex;
    flex-direction: column;
  }
  
  .block22.layout {
    position: absolute;
    top: 277px;
    height: 35px;
    left: 934px;
    width: 102px;
    min-width: 102px;
  }
  
  .box15 {
    border: 0.9215686321px solid #605bff;
    border-radius: 9.2156867981px 9.2156867981px 9.2156867981px 9.2156867981px;
    opacity: 0.1;
  }
  
  .box15.layout {
    position: absolute;
    top: 0px;
    height: 35px;
    left: 0px;
    width: 102px;
    min-width: 102px;
  }
  
  .icon4.layout1 {
    position: absolute;
    top: 14px;
    height: 8px;
    left: 75px;
    width: 8px;
    min-width: 8px;
  }
  
  .block23 {
    display: flex;
    flex-direction: column;
  }
  
  .block23.layout {
    position: absolute;
    top: 10px;
    height: 16px;
    left: 12px;
    width: 29px;
    min-width: 29px;
  }
  
  .small_text_body3 {
    font: 600 12.9019603729px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  
  .block24 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 9.6463413239px 9.6463413239px 9.6463413239px 9.6463413239px;
  }
  
  .block24.layout {
    position: absolute;
    overflow: hidden;
    top: 335px;
    height: 66px;
    left: 1074px;
    width: 340px;
    min-width: 340px;
  }
  
  .block25 {
    display: flex;
    flex-direction: column;
  }
  
  .block25.layout {
    position: relative;
    height: 46px;
    width: 301px;
    min-width: 301px;
    margin: 10px 0px 0px 19px;
  }
  
  .icon7 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon7.layout {
    position: absolute;
    top: 0px;
    height: 46px;
    left: 0px;
    width: 47px;
    min-width: 47px;
  }
  
  .block26 {
    display: flex;
  }
  
  .block26.layout {
    position: absolute;
    top: 0px;
    height: 21px;
    left: 58px;
    width: 243px;
    min-width: 243px;
  }
  
  .text_body4 {
    display: flex;
    align-items: center;
    font: 600 13.5048789978px/1.5 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #141522;
    letter-spacing: -0.27px;
  }
  
  .text_body4.layout {
    position: relative;
    flex: 0 0 auto;
  }
  
  .block26__spacer {
    flex: 0 1 105px;
  }
  
  .small_text_body4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 400 11.5756101608px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #8e92bc;
    text-align: right;
    letter-spacing: -0.12px;
  }
  
  .small_text_body4.layout {
    position: relative;
    flex: 0 0 auto;
    margin: 3.5px 0px;
  }
  
  .block27 {
    display: flex;
  }
  
  .block27.layout {
    position: absolute;
    top: 28px;
    height: 17px;
    left: 58px;
    width: 243px;
    min-width: 243px;
  }
  
  .small_text_body5 {
    font: 400 11.5756101608px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #141522;
    letter-spacing: -0.12px;
  }
  
  .small_text_body5.layout {
    position: relative;
    flex: 0 0 auto;
    margin: 0px 0px 3px;
  }
  
  .block27__spacer {
    flex: 0 1 54px;
  }
  
  .block27__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 17px;
  }
  
  .block28 {
    display: flex;
    flex-direction: column;
  }
  
  .block28.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
  }
  
  .image5 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image5.layout {
    position: relative;
    height: 8px;
    width: 7px;
    min-width: 7px;
    margin: 4px 0px 0px 5px;
  }
  
  .subtitle3 {
    display: flex;
    align-items: center;
    font: 600 20px/1.5 "Nunito", Helvetica, Arial, serif;
    color: #ffc227;
    letter-spacing: -0.6px;
  }
  
  .subtitle3.layout {
    position: absolute;
    top: 8px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 9px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .line1 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .line1.layout {
    position: absolute;
    top: 407px;
    height: 1px;
    left: 1093px;
    width: 302px;
    min-width: 302px;
  }
  
  .block29 {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .block29.layout {
    position: absolute;
    top: 415px;
    height: 65px;
    left: 1074px;
    width: 340px;
    min-width: 340px;
  }
  
  .icon8 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon8.layout {
    position: absolute;
    top: 9px;
    height: 47px;
    left: 19px;
    width: 47px;
    min-width: 47px;
  }
  
  .block30 {
    display: flex;
    flex-direction: column;
  }
  
  .block30.layout {
    position: absolute;
    top: 9px;
    height: 46px;
    left: 77px;
    width: 243px;
    min-width: 243px;
  }
  
  .block26.layout1 {
    position: relative;
  }
  
  .block26__spacer1 {
    flex: 0 1 124px;
  }
  
  .block31 {
    display: flex;
  }
  
  .block31.layout {
    position: relative;
    margin: 7px 0px 0px;
  }
  
  .small_text_body41 {
    font: 400 11.5756101608px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #8e92bc;
    letter-spacing: -0.12px;
  }
  
  .small_text_body41.layout {
    position: relative;
    flex: 0 0 auto;
    margin: 0px 0px 4px;
  }
  
  .block31__spacer {
    flex: 0 1 41px;
  }
  
  .block31__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 17px;
  }
  
  .block32 {
    display: flex;
    flex-direction: column;
  }
  
  .block32.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
  }
  
  .image6 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image6.layout {
    position: relative;
    height: 10px;
    width: 17px;
    min-width: 17px;
    margin: 4px 0px 0px;
  }
  
  .subtitle4 {
    display: flex;
    align-items: center;
    font: 600 20px/1.5 "Nunito", Helvetica, Arial, serif;
    color: #ff8f6b;
    letter-spacing: -0.6px;
  }
  
  .subtitle4.layout {
    position: absolute;
    top: 17px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 33px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .line2 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .line2.layout {
    position: absolute;
    top: 486px;
    height: 2px;
    left: 1093px;
    width: 302px;
    min-width: 302px;
  }
  
  .block33 {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .block33.layout {
    position: absolute;
    top: 494px;
    height: 66px;
    left: 1074px;
    width: 340px;
    min-width: 340px;
  }
  
  .icon7.layout1 {
    position: absolute;
    top: 10px;
    height: 46px;
    left: 19px;
    width: 47px;
    min-width: 47px;
  }
  
  .block34 {
    display: flex;
    flex-direction: column;
  }
  
  .block34.layout {
    position: absolute;
    top: 10px;
    height: 45px;
    left: 77px;
    width: 243px;
    min-width: 243px;
  }
  
  .block26__spacer2 {
    flex: 0 1 92px;
  }
  
  .block35 {
    display: flex;
  }
  
  .block35.layout {
    position: relative;
    margin: 7px 0px 0px;
  }
  
  .block35__spacer {
    flex: 0 1 65px;
  }
  
  .block35__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 17px;
  }
  
  .block36 {
    display: flex;
    flex-direction: column;
  }
  
  .block36.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
  }
  
  .icon9 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .icon9.layout {
    position: relative;
    height: 7px;
    width: 7px;
    min-width: 7px;
    margin: 5px 0px 0px 5px;
  }
  
  .subtitle5 {
    display: flex;
    align-items: center;
    font: 600 20px/1.5 "Nunito", Helvetica, Arial, serif;
    color: #7000ff;
    letter-spacing: -0.6px;
  }
  
  .subtitle5.layout {
    position: absolute;
    top: 18px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 30px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .subtitle6 {
    display: flex;
    align-items: center;
    font: 600 23.1512203217px/1.5 "Nunito", Helvetica, Arial, serif;
    color: #141522;
    letter-spacing: -0.69px;
    width: 100%;
    height: 100%;
  }
  
  .medium_title1 {
    display: flex;
    align-items: center;
    font: 600 24px/1.5 "Nunito", Helvetica, Arial, serif;
    color: #141522;
    letter-spacing: -0.72px;
  }
  
  .medium_title1.layout {
    position: absolute;
    top: 664px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 270px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .image7 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image7.layout {
    position: absolute;
    top: 293px;
    height: 4px;
    left: 1374px;
    width: 14px;
    min-width: 14px;
  }
  
  .block37 {
    display: flex;
    flex-direction: column;
  }
  
  .block37.layout {
    position: absolute;
    top: 587px;
    height: 20px;
    left: 1217px;
    width: 82px;
    min-width: 82px;
  }
  
  .highlights {
    font: 400 16px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #ff6700;
    letter-spacing: 0px;
  }
  
  .highlights.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .box16 {
    background-color: #ff6700;
    border-radius: 0.5px;
  }
  
  .box16.layout {
    position: absolute;
    top: 594px;
    height: 9px;
    left: 1201px;
    width: 1px;
    min-width: 1px;
  }
  
  .image8 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image8.layout {
    position: absolute;
    top: 598px;
    height: 1px;
    left: 1196px;
    width: 10px;
    min-width: 10px;
  }
  
  .block38 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
  }
  
  .block38.layout {
    position: absolute;
    top: 962px;
    height: 60px;
    left: 270px;
    width: 1128px;
    min-width: 1128px;
  }
  
  .image7.layout1 {
    position: absolute;
    top: 990px;
    height: 4px;
    left: 1355px;
    width: 14px;
    min-width: 14px;
  }
  
  .block44 {
    display: flex;
    flex-direction: column;
    background-color: rgba(92, 147, 255, 0.101);
    border-radius: 13.5px 13.5px 13.5px 13.5px;
  }
  
  .block44.layout {
    position: absolute;
    top: 978px;
    height: 27px;
    left: 1233px;
    width: 66px;
    min-width: 66px;
  }
  
  .text_body6 {
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #5b92ff;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  
  .block45 {
    display: flex;
    flex-direction: column;
  }
  
  .block45.layout {
    position: absolute;
    top: 982px;
    height: 17px;
    left: 1054px;
    width: 105px;
    min-width: 105px;
  }
  
  .text_body21 {
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
  }
  
  .text_body21.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .block46 {
    display: flex;
    flex-direction: column;
  }
  
  .block46.layout {
    position: absolute;
    top: 982px;
    height: 17px;
    left: 774px;
    width: 135px;
    min-width: 135px;
  }
  
  .block47 {
    display: flex;
    flex-direction: column;
  }
  
  .block47.layout {
    position: absolute;
    top: 982px;
    height: 17px;
    left: 537px;
    width: 110px;
    min-width: 110px;
  }
  
  .block48 {
    display: flex;
    flex-direction: column;
  }
  
  .block48.layout {
    position: absolute;
    top: 982px;
    height: 17px;
    left: 290px;
    width: 73px;
    min-width: 73px;
  }
  
  .block38.layout1 {
    position: absolute;
    top: 892px;
    height: 60px;
    left: 270px;
    width: 1128px;
    min-width: 1128px;
  }
  
  .image7.layout2 {
    position: absolute;
    top: 920px;
    height: 4px;
    left: 1355px;
    width: 14px;
    min-width: 14px;
  }
  
  .block44.layout1 {
    position: absolute;
    top: 908px;
    height: 27px;
    left: 1233px;
    width: 66px;
    min-width: 66px;
  }
  
  .block45.layout1 {
    position: absolute;
    top: 912px;
    height: 17px;
    left: 1054px;
    width: 105px;
    min-width: 105px;
  }
  
  .block49 {
    display: flex;
    flex-direction: column;
  }
  
  .block49.layout {
    position: absolute;
    top: 912px;
    height: 17px;
    left: 774px;
    width: 158px;
    min-width: 158px;
  }
  
  .block50 {
    display: flex;
    flex-direction: column;
  }
  
  .block50.layout {
    position: absolute;
    top: 912px;
    height: 17px;
    left: 537px;
    width: 130px;
    min-width: 130px;
  }
  
  .block51 {
    display: flex;
    flex-direction: column;
  }
  
  .block51.layout {
    position: absolute;
    top: 912px;
    height: 17px;
    left: 290px;
    width: 92px;
    min-width: 92px;
  }
  
  .block38.layout2 {
    position: absolute;
    top: 822px;
    height: 60px;
    left: 270px;
    width: 1128px;
    min-width: 1128px;
  }
  
  .block51.layout1 {
    position: absolute;
    top: 842px;
    height: 17px;
    left: 290px;
    width: 92px;
    min-width: 92px;
  }
  
  .image7.layout3 {
    position: absolute;
    top: 850px;
    height: 4px;
    left: 1355px;
    width: 14px;
    min-width: 14px;
  }
  
  .block45.layout2 {
    position: absolute;
    top: 842px;
    height: 17px;
    left: 1054px;
    width: 105px;
    min-width: 105px;
  }
  
  .block52 {
    display: flex;
    flex-direction: column;
  }
  
  .block52.layout {
    position: absolute;
    top: 842px;
    height: 17px;
    left: 774px;
    width: 187px;
    min-width: 187px;
  }
  
  .block53 {
    display: flex;
    flex-direction: column;
  }
  
  .block53.layout {
    position: absolute;
    top: 842px;
    height: 17px;
    left: 537px;
    width: 98px;
    min-width: 98px;
  }
  
  .block39 {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 143, 107, 0.101);
    border-radius: 13.5px 13.5px 13.5px 13.5px;
  }
  
  .block39.layout {
    position: absolute;
    top: 838px;
    height: 27px;
    left: 1233px;
    width: 75px;
    min-width: 75px;
  }
  
  .text_body5 {
    font: 400 14px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #ff8f6b;
    letter-spacing: 0px;
  }
  
  .text_body5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 4px 0px 0px 14px;
  }
  
  .box17 {
    background-color: white;
    box-shadow: 1px 17px 44px 0px rgba(2, 1, 41, 0.0666666667);
    border-radius: 10px 10px 10px 10px;
  }
  
  .box17.layout {
    position: absolute;
    top: 752px;
    height: 60px;
    left: 270px;
    width: 1128px;
    min-width: 1128px;
  }
  
  .block54 {
    display: flex;
    flex-direction: column;
  }
  
  .block54.layout {
    position: absolute;
    top: 772px;
    height: 17px;
    left: 290px;
    width: 61px;
    min-width: 61px;
  }
  
  .block55 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
  }
  
  .block55.layout {
    position: absolute;
    top: 781px;
    height: 3px;
    left: 1355px;
    width: 14px;
    min-width: 14px;
  }
  
  .block45.layout3 {
    position: absolute;
    top: 772px;
    height: 17px;
    left: 1054px;
    width: 105px;
    min-width: 105px;
  }
  
  .block56 {
    display: flex;
    flex-direction: column;
  }
  
  .block56.layout {
    position: absolute;
    top: 772px;
    height: 17px;
    left: 774px;
    width: 165px;
    min-width: 165px;
  }
  
  .block57 {
    display: flex;
    flex-direction: column;
  }
  
  .block57.layout {
    position: absolute;
    top: 772px;
    height: 17px;
    left: 537px;
    width: 100px;
    min-width: 100px;
  }
  
  .block44.layout2 {
    position: absolute;
    top: 769px;
    height: 27px;
    left: 1236px;
    width: 66px;
    min-width: 66px;
  }
  
  .small_text_body6 {
    font: 400 12px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.69;
  }
  
  .image10 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image10.layout {
    position: absolute;
    top: 732px;
    height: 5px;
    left: 332px;
    width: 6px;
    min-width: 6px;
  }
  
  .image10.layout1 {
    position: absolute;
    top: 732px;
    height: 5px;
    left: 814px;
    width: 6px;
    min-width: 6px;
  }
  
  .image10.layout2 {
    position: absolute;
    top: 732px;
    height: 5px;
    left: 585px;
    width: 6px;
    min-width: 6px;
  }
  
  .small_text_body61 {
    font: 400 12px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #030229;
    letter-spacing: 0px;
    opacity: 0.69;
  }
  
  .small_text_body61.layout {
    position: absolute;
    top: 726px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 537px;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .image10.layout3 {
    position: absolute;
    top: 732px;
    height: 5px;
    left: 1144px;
    width: 6px;
    min-width: 6px;
  }
  
  .image10.layout4 {
    position: absolute;
    top: 732px;
    height: 5px;
    left: 1286px;
    width: 6px;
    min-width: 6px;
  }
  
  .block58 {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 13.5073709488px 27.0147418976px 0px rgba(0, 0, 0, 0.0980392157);
    border-radius: 13.5073709488px 13.5073709488px 13.5073709488px 13.5073709488px;
  }
  
  .block58.layout {
    position: absolute;
    top: 803px;
    height: 107px;
    left: 1227px;
    width: 149px;
    min-width: 149px;
  }
  
  .block59 {
    display: flex;
    flex-direction: column;
    background-color: rgba(92, 147, 255, 0.05);
    border-radius: 6.7536854744px 6.7536854744px 6.7536854744px 6.7536854744px;
  }
  
  .block59.layout {
    position: absolute;
    top: 14px;
    height: 36px;
    left: 14px;
    width: 121px;
    min-width: 121px;
  }
  
  .text_body7 {
    font: 400 13.5073709488px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #5b92ff;
    letter-spacing: 0px;
  }
  
  .text_body7.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 9px 0px 0px 32px;
  }
  
  .block60 {
    display: flex;
    flex-direction: column;
    background-color: rgba(231, 29, 54, 0.05);
    border-radius: 6.7536854744px 6.7536854744px 6.7536854744px 6.7536854744px;
  }
  
  .block60.layout {
    position: absolute;
    top: 57px;
    height: 36px;
    left: 14px;
    width: 121px;
    min-width: 121px;
  }
  
  .block61 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
  }
  
  .block61.layout {
    position: absolute;
    top: 13px;
    height: 11px;
    left: 13px;
    width: 10px;
    min-width: 10px;
  }
  
  .text_body8 {
    font: 400 13.5073709488px/1.2 "Nunito", Helvetica, Arial, serif;
    color: #e71d36;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  
  .image12 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image12.layout {
    position: absolute;
    top: 827px;
    height: 14px;
    left: 1254px;
    width: 11px;
    min-width: 11px;
  }
  
  .block62 {
    display: flex;
  }
  
  .block62.layout {
    position: absolute;
    top: 669px;
    height: 24px;
    left: 1350px;
    width: 58px;
    min-width: 58px;
  }
  
  .block62__item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 24px;
  }
  
  .block63 {
    display: flex;
    flex-direction: column;
  }
  
  .block63.layout {
    position: relative;
    height: 24px;
  }
  
  .image13 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image13.layout {
    position: absolute;
    top: 4px;
    height: 16px;
    left: 8px;
    width: 7px;
    min-width: 7px;
  }
  
  .image14 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image14.layout {
    position: absolute;
    top: 12px;
    height: 0px;
    left: 12px;
    width: 0px;
    min-width: 0px;
  }
  
  .block62__spacer {
    flex: 0 1 10px;
  }
  
  .image13.layout1 {
    position: absolute;
    top: 4px;
    height: 16px;
    left: 9px;
    width: 7px;
    min-width: 7px;
  }
  
  .image15 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top;
  }
  
  .image15.layout {
    position: absolute;
    top: 166px;
    height: 20px;
    left: 314px;
    width: 28px;
    min-width: 28px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
    }

    .xs\:hide {
        display: none;
    }
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}
