body{
  margin: 0px;
}

.navbar{
  height: 88px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction:row ;
}
.navbar img{
  height: 30px;
  width: 207px;
  margin-top: 30px;
  margin-left: 80px;
  float: left;
}

a{
  text-decoration: none;
  color: blue;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;   
  float: left;
  margin-left:500px;
}
li{
  float: left;
  margin-top: 35px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.opt{
  background-image: url(../src/assets/c5edb97a78517cd3b48b50401e6ed3b1.png);
  background-size: cover;
  height: 20px;
  width: 20px;
  float: left;
  margin-top: 35px;
  margin-left: 20px;
  cursor: pointer;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: red;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.body1{
  background-image: url(../src/assets/e3fff4a0ccdfc5a636058e65d1a4b7cb.png);
  background-size: cover;
  height: 450px;
  display: flex;
}

.revimg{
  margin-left: 15%;
  margin-top: 50px;
  height: 350px;
  width: 320px;
  background-image: url("../src/assets/revenue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.reve{
  color: white;
  font:500 44px/1.36 "Futura", Helvetica, Arial, serif;
  font-size: 50px;
  margin: 0px;
  padding-left: 25px;
}
.pred{
  color:#ff6700;
  font:500 16px/3.75 "Quicksand", Helvetica, Arial, serif;
  margin: 0px;
  padding-top: 20px;
  padding-left: 25px;
  letter-spacing: 4px;
}

.textt{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column  ;
  margin-left: 250px;
  margin-top: 150px;
  width:50%;
  height: 230px;
  border-left: 2px solid white;
}

.body2{
  display: flex;
  flex-flow: row;
}
.cont1{
  width: 50%;
  height: auto;
  padding-left: 30px;
  font-size: 22px;
  font:500 19px/1.75 "Quicksand", Helvetica, Arial, serif;
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
}

.cont1 img{
  width: 90%;
  height: 250px;
  padding-left: 30px;
  border-radius: 7px 7px 7px 7px;
}

.cont2{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  padding-left: 30px;
  font-size: 22px;
  font:500 19px/1.75 "Quicksand", Helvetica, Arial, serif;
  padding-top: 100px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.cont2 img{
  width: 90%;
  height: 250px;
  margin-top: 130px;
  padding-left: 30px;
  border-radius: 7px 7px 7px 7px;
}

.body3{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-bottom: 14%;
}

.box1, .box2, .box3{
  width: 33.33%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 12.0058708191px 35.2530517578px 0px rgb(215 227 248 / 40%);
}

.bimg img{
  width: 100%;
  height: 200px;
}

.bimg1{
  display: flex;
  justify-content: space-evenly;
}
.ins{
  position: absolute;
   width: 15%;
   height: auto; 
   padding-top: 20px;
}











@media screen and (max-width:1454px) {
  #navi{
      margin-left: 120px;
  }
}

@media screen and (max-width:1145px) {
  .revimg, .textt{
      margin-left: 50px;
  }
  #navi{
      margin-left: 20px;
  }
  
}

@media screen and (max-width:675px) {
  .body1{
      flex-direction: column;
      height: 500px;
  }

  .revimg, .textt{
      margin-top: 30px;
      display: flex;
      height: max-content;
  }

  .pred{
      color:#ff6700;
      font:500 13px/3.75 "Quicksand", Helvetica, Arial, serif;
      
  }

  .reve{
      font:500 30px/1.36 "Futura", Helvetica, Arial, serif;
      margin: 0px;
      padding-left: 25px;
  }

  .revimg{
      height: 225px;
      width: 225px;
  }
  .body2{
      flex-flow: column;
  }
  .cont1, .cont2{
      width: 90%;
      padding-top: 20px;
  }
  .cont2 img{
      margin-top: 20px;
      padding-left: 0px;
  }
  .box1, .box2, .box3{
      width: 93%;
      height: auto;
     
  }
  .ins{
      width: 45%;
  }
  
  
  .body3{
      flex-flow: column;
  }

}

@media screen and (max-width:440px) {
  .pred{
      height: 40px;
      width: 250px;
  }
  .body3{
      flex-flow: column;
  }
}

@media screen and (max-width:1300px) {
  .body3{
     float: left;
     width: auto;
  }
  
}

@media screen and (max-width:1250px) {
  .box3 h2{
      font:500 20.542063px/1.43 "Futura", Helvetica, Arial, serif;
  }
}