/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: #000000ff;
$color_type_1: #151515ff;
$color_type_2: #ff6700ff;
$color_type_3: #ffffffff;
$color_type_4: rgb(0, 0, 0);
$color_type_5: rgb(198, 201, 216);
$color_type_6: rgb(249, 247, 239);
$color_type_7: rgb(255, 103, 0);
$color_type_8: rgb(255, 255, 255);
$color_type_9: rgb(47, 47, 47);
$color_type_10: rgb(8, 8, 8);
$color_type_11: rgba(0, 0, 0, 0.627);
$color_type_12: rgba(0, 0, 0, 0);

$font_type_0: 700 65px/1.64 "Futura", Helvetica, Arial, serif;
$font_type_1: 500 44px/1.36 "Futura", Helvetica, Arial, serif;
$font_type_2: 500 33px/1.81 "Futura", Helvetica, Arial, serif;
$font_type_3: 500 33px/1.55 "Futura", Helvetica, Arial, serif;
$font_type_4: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
$font_type_5: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
$font_type_6: 700 20px/3 "Quicksand", Helvetica, Arial, serif;
$font_type_7: 500 20px/1.9 "Quicksand", Helvetica, Arial, serif;
$font_type_8: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
$font_type_9: 20px/1.49 "Quicksand", Helvetica, Arial, serif;
$font_type_10: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
$font_type_11: 700 20px/1.2 "Quicksand", Helvetica, Arial, serif;
$font_type_12: 500 19.295774459838867px/1.58 "Futura", Helvetica, Arial, serif;
$font_type_13: 500 18px/2 "Quicksand", Helvetica, Arial, serif;
$font_type_14: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
$font_type_15: 500 18px/1.33 "Futura", Helvetica, Arial, serif;
$font_type_16: 700 18px/1.33 "Futura", Helvetica, Arial, serif;
$font_type_17: 155px/1.2 "Londrina Outline", Helvetica, Arial, serif;
$font_type_18: 500 15.666217803955078px/1.6 "Quicksand", Helvetica, Arial, serif;
$font_type_19: 500 14.471830368041992px/1.66 "Lato", Helvetica, Arial, serif;
$font_type_20: 12.863849639892578px/1.56 "Lato", Helvetica, Arial, serif;
$font_type_21: 500 12.863849639892578px/1.56 "Quicksand", Helvetica, Arial, serif;
$font_type_22: 500 12.863849639892578px/1.2 "Quicksand", Helvetica, Arial, serif;
$font_type_23: 500 1em/1.36 "Futura", Helvetica, Arial, serif;
$font_type_24: 500 1em/1.55 "Futura", Helvetica, Arial, serif;
$font_type_25: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
$font_type_26: 700 1em/1.64 "Futura", Helvetica, Arial, serif;

.careers-screen3a {
  &-main {
    @include flex-column;
    background-color: $color_type_8;
  }
  &-main.layout {
    position: relative;
    overflow: hidden;
  }
  &-main-item {
    @include flex-column;
    position: relative;
  }
  &-section1__section1 {
    @include flex-column;
  }
  &-section1__section1.layout {
    position: relative;
    height: 735px;
  }
  &-section1__cover1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section1__cover1.layout {
    position: absolute;
    top: 0px;
    height: 724px;
    left: 0px;
    width: 1440px;
    min-width: 1440px;
  }
  &-section1__box {
    background-color: $color_type_8;
  }
  &-section1__box.layout {
    position: absolute;
    top: 0px;
    height: 88px;
    left: 0px;
    width: 1440px;
    min-width: 1440px;
  }
  &-section1__image {
    background: var(--src) center center / cover no-repeat;
  }
  &-section1__image.layout {
    position: absolute;
    top: 32px;
    height: 30px;
    left: 71px;
    width: 207px;
    min-width: 207px;
  }
  &-section1__highlights2 {
    @include font-face($font_type_15, $color_type_4, 0px);
  }
  &-section1__highlights2.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 730px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout1 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 838px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout2 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 975px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights3 {
    @include font-face($font_type_16, $color_type_7, 0px);
  }
  &-section1__highlights3.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 1113px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout3 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 1232px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout4 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 650px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__icon {
    background: var(--src) center center / cover no-repeat;
  }
  &-section1__icon.layout {
    position: absolute;
    top: 40px;
    height: 14px;
    left: 1352px;
    width: 14px;
    min-width: 14px;
  }
  &-section1__hero-title3-box {
    width: 100%;
    height: 100%;
  }
  &-section1__hero-title3 {
    @include font-face($font_type_1, $color_type_4, 0px);
  }
  &-section1__hero-title3-span0 {
    @include font-face($font_type_23, $color_type_0, 0px);
  }
  &-section1__hero-title3-span1 {
    @include font-face($font_type_23, $color_type_2, 0px);
  }
  &-section1__subtitle1 {
    @include font-face($font_type_5, $color_type_7, 5px);
  }
  &-section1__subtitle1.layout {
    position: absolute;
    top: 263px;
    height: min-content;
    left: 71px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__subtitle2 {
    @include font-face($font_type_7, $color_type_4, 0px);
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  &-section1__image8 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section1__image8.layout {
    position: absolute;
    top: 385px;
    height: 184px;
    left: 71px;
    width: 0px;
    min-width: 0px;
  }
  &-section1__box8 {
    background-color: $color_type_7;
    border-radius: 5px 5px 5px 5px;
  }
  &-section1__box8.layout {
    position: absolute;
    top: 504px;
    height: 65px;
    left: 108px;
    width: 199px;
    min-width: 199px;
  }
  &-section1__subtitle4 {
    @include font-face($font_type_10, $color_type_6, 0px);
  }
  &-section1__subtitle4.layout {
    position: absolute;
    top: 525px;
    height: min-content;
    left: 171px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__section2 {
    @include flex-column;
  }
  &-section2__section2.layout {
    position: relative;
    height: 763px;
  }
  &-section2__big-title-box.layout {
    position: absolute;
    top: 54px;
    height: min-content;
    left: 69px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__big-title {
    @include font-face($font_type_3, $color_type_4, 0px);
  }
  &-section2__big-title-span0 {
    @include font-face($font_type_24, $color_type_1, 0px);
  }
  &-section2__big-title-span1 {
    @include font-face($font_type_24, $color_type_2, 0px);
  }
  &-section2__block3 {
    @include flex-column;
    background-color: $color_type_8;
    border: 0.8039906024932861px solid rgb(169, 169, 169);
  }
  &-section2__block3.layout {
    position: absolute;
    top: 150px;
    height: 283px;
    left: 70px;
    width: 392px;
    min-width: 392px;
  }
  &-section2__block4 {
    @include flex-column;
  }
  &-section2__block4.layout {
    position: relative;
    height: 234px;
    width: 344px;
    min-width: 344px;
    margin: 25px 0px 0px 24px;
  }
  &-section2__highlights4 {
    @include font-face($font_type_12, $color_type_7, 0px);
  }
  &-section2__highlights4.layout {
    position: absolute;
    top: 0px;
    height: min-content;
    left: 0px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__small-text-body {
    @include font-face($font_type_20, $color_type_4, 0px);
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  &-section2__text-body {
    @include font-face($font_type_19, $color_type_4, 0px);
    width: 100%;
    height: 100%;
  }
  &-section2__small-paragraph-body {
    @include font-face($font_type_21, $color_type_4, 0px);
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  &-section2__block5 {
    @include flex-column;
    background-color: $color_type_7;
    border-radius: 2px 2px 2px 2px;
  }
  &-section2__block5.layout {
    position: absolute;
    top: 193px;
    height: 41px;
    left: 0px;
    width: 129px;
    min-width: 129px;
  }
  &-section2__small-text-body1 {
    @include font-face($font_type_22, $color_type_8, 0px);
    width: 100%;
    height: 100%;
  }
  &-section2__image9 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section2__image9.layout {
    position: absolute;
    top: 208px;
    height: 12px;
    left: 101px;
    width: 14px;
    min-width: 14px;
  }
  &-section2__block6 {
    @include flex-column;
    background-color: $color_type_8;
    border: 0.8039906024932861px solid rgb(169, 169, 169);
  }
  &-section2__block6.layout {
    position: absolute;
    top: 470px;
    height: 282px;
    left: 70px;
    width: 392px;
    min-width: 392px;
  }
  &-section2__block7 {
    @include flex-column;
  }
  &-section2__block7.layout {
    position: relative;
    height: 234px;
    width: 344px;
    min-width: 344px;
    margin: 24px 0px 0px 24px;
  }
  &-section2__block8 {
    @include flex-column;
    background-color: $color_type_4;
    border-radius: 2px 2px 2px 2px;
  }
  &-section2__block8.layout {
    position: absolute;
    top: 194px;
    height: 40px;
    left: 0px;
    width: 129px;
    min-width: 129px;
  }
  &-section2__image10 {
    background: var(--src) center center / cover no-repeat;
    border-radius: 2px 2px 2px 2px;
  }
  &-section2__image10.layout {
    position: absolute;
    top: 208px;
    height: 13px;
    left: 101px;
    width: 14px;
    min-width: 14px;
  }
  &-section2__block9 {
    @include flex-column;
    background-color: $color_type_8;
    border: 0.8039906024932861px solid rgb(169, 169, 169);
  }
  &-section2__block9.layout {
    position: absolute;
    top: 150px;
    height: 283px;
    left: 523px;
    width: 392px;
    min-width: 392px;
  }
  &-section2__block10 {
    @include flex-column;
  }
  &-section2__block10.layout {
    position: relative;
    height: 234px;
    width: 344px;
    min-width: 344px;
    margin: 25px 0px 0px 24px;
  }
  &-section2__block11 {
    @include flex-column;
    background-color: $color_type_4;
    border-radius: 2px 2px 2px 2px;
  }
  &-section2__block11.layout {
    position: absolute;
    top: 193px;
    height: 41px;
    left: 0px;
    width: 129px;
    min-width: 129px;
  }
  &-section2__image11 {
    background: var(--src) center center / cover no-repeat;
    border-radius: 2px 2px 2px 2px;
  }
  &-section2__image11.layout {
    position: absolute;
    top: 208px;
    height: 12px;
    left: 101px;
    width: 14px;
    min-width: 14px;
  }
  &-section2__block6.layout1 {
    position: absolute;
    top: 470px;
    height: 282px;
    left: 523px;
    width: 392px;
    min-width: 392px;
  }
  &-section2__block9.layout1 {
    position: absolute;
    top: 150px;
    height: 283px;
    left: 978px;
    width: 392px;
    min-width: 392px;
  }
  &-section2__block6.layout2 {
    position: absolute;
    top: 470px;
    height: 282px;
    left: 978px;
    width: 392px;
    min-width: 392px;
  }
  &-section3__section3 {
    @include flex-column;
  }
  &-section3__section3.layout {
    position: relative;
    height: 1556px;
  }
  &-section3__cover {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__cover.layout {
    position: absolute;
    top: 1049px;
    height: 488px;
    left: 3px;
    width: 1437px;
    min-width: 1437px;
  }
  &-section3__hero-title1 {
    @include font-face($font_type_17, $color_type_10, 0px);
  }
  &-section3__hero-title1.layout {
    position: absolute;
    top: 1227px;
    height: min-content;
    left: 551px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__hero-title2 {
    @include font-face($font_type_17, $color_type_4, 0px);
  }
  &-section3__hero-title2.layout {
    position: absolute;
    top: 1225px;
    height: min-content;
    left: 316px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__big-title-box.layout {
    position: absolute;
    top: 943px;
    height: min-content;
    left: 565px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__big-title {
    @include font-face($font_type_2, $color_type_4, 0px);
  }
  &-section3__big-title-span0 {
    @include font-face($font_type_25, $color_type_0, 0px);
  }
  &-section3__big-title-span1 {
    @include font-face($font_type_25, $color_type_2, 0px);
  }
  &-section3__subtitle1 {
    @include font-face($font_type_5, $color_type_7, 5px);
  }
  &-section3__subtitle1.layout {
    position: absolute;
    top: 883px;
    height: min-content;
    left: 600px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__image1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__image1.layout {
    position: absolute;
    top: 988px;
    height: 127px;
    left: 303px;
    width: 132px;
    min-width: 132px;
  }
  &-section3__image1.layout1 {
    position: absolute;
    top: 1127px;
    height: 127px;
    left: 1007px;
    width: 132px;
    min-width: 132px;
  }
  &-section3__subtitle2-box {
    @include h-center-content;
  }
  &-section3__subtitle2-box.layout {
    position: absolute;
    top: 1051px;
    height: min-content;
    left: 0px;
    right: 0px;
    width: 42.57%;
    margin: 0px auto;
  }
  &-section3__subtitle2 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type_8;
    color: $color_type_4;
    text-align: center;
    letter-spacing: 0px;
    white-space: pre-wrap;
  }
  &-section3__block2 {
    @include flex-column;
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__block2.layout {
    position: absolute;
    top: 27px;
    height: 916px;
    left: 1px;
    width: 1439px;
    min-width: 1439px;
  }
  &-section3__image3 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__image3.layout {
    position: absolute;
    top: 653px;
    height: 19px;
    left: 887px;
    width: 39px;
    min-width: 39px;
  }
  &-section3__image4 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__image4.layout {
    position: absolute;
    top: 656px;
    height: 12px;
    left: 842px;
    width: 24px;
    min-width: 24px;
  }
  &-section3__image5 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__image5.layout {
    position: absolute;
    top: 521px;
    height: 162px;
    left: 355px;
    width: 354px;
    min-width: 354px;
  }
  &-section3__image6 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__image6.layout {
    position: absolute;
    top: 308px;
    height: 162px;
    left: 734px;
    width: 355px;
    min-width: 355px;
  }
  &-section3__icon1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon1.layout {
    position: absolute;
    top: 367px;
    height: 122px;
    left: 1146px;
    width: 121px;
    min-width: 121px;
  }
  &-section3__icon2 {
    background: var(--src) center center / cover no-repeat;
    filter: drop-shadow(0px 10.602083206176758px 18.174999237060547px rgba(66, 47, 47, 0.13725490196078433));
  }
  &-section3__icon2.layout {
    position: absolute;
    top: 353px;
    height: 117px;
    left: 1149px;
    width: 115px;
    min-width: 115px;
  }
  &-section3__icon3 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon3.layout {
    position: absolute;
    top: 597px;
    height: 97px;
    left: 183px;
    width: 97px;
    min-width: 97px;
  }
  &-section3__icon4 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon4.layout {
    position: absolute;
    top: 591px;
    height: 79px;
    left: 192px;
    width: 79px;
    min-width: 79px;
  }
  &-section3__icon5 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon5.layout {
    position: absolute;
    top: 181px;
    height: 118px;
    left: 285px;
    width: 118px;
    min-width: 118px;
  }
  &-section3__icon6 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon6.layout {
    position: absolute;
    top: 169px;
    height: 103px;
    left: 293px;
    width: 102px;
    min-width: 102px;
  }
  &-section3__icon7 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon7.layout {
    position: absolute;
    top: 164px;
    height: 88px;
    left: 1024px;
    width: 88px;
    min-width: 88px;
  }
  &-section3__icon8 {
    background: var(--src) center center / cover no-repeat;
    filter: drop-shadow(0px 10.602083206176758px 18.174999237060547px rgba(0, 0, 0, 0.13725490196078433));
  }
  &-section3__icon8.layout {
    position: absolute;
    top: 158px;
    height: 71px;
    left: 1033px;
    width: 70px;
    min-width: 70px;
  }
  &-section3__icon9 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon9.layout {
    position: absolute;
    top: 646px;
    height: 84px;
    left: 1067px;
    width: 84px;
    min-width: 84px;
  }
  &-section3__icon10 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon10.layout {
    position: absolute;
    top: 639px;
    height: 68px;
    left: 1076px;
    width: 66px;
    min-width: 66px;
  }
  &-section3__icon11 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon11.layout {
    position: absolute;
    top: 332px;
    height: 94px;
    left: 64px;
    width: 94px;
    min-width: 94px;
  }
  &-section3__icon12 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__icon12.layout {
    position: absolute;
    top: 332px;
    height: 70px;
    left: 76px;
    width: 70px;
    min-width: 70px;
  }
  &-section3__box4 {
    background-color: $color_type_8;
    border-radius: 15.145833969116211px 15.145833969116211px 15.145833969116211px 15.145833969116211px;
  }
  &-section3__box4.layout {
    position: absolute;
    top: 370px;
    height: 251px;
    left: 488px;
    width: 463px;
    min-width: 463px;
  }
  &-section3__box5 {
    background-color: $color_type_8;
    box-shadow: 0px 13.631250381469727px 40.02568054199219px 0px rgba(215, 227, 248, 0.4980392156862745);
    border-radius: 15.145833969116211px 15.145833969116211px 15.145833969116211px 15.145833969116211px;
  }
  &-section3__box5.layout {
    position: absolute;
    top: 331px;
    height: 275px;
    left: 465px;
    width: 509px;
    min-width: 509px;
  }
  &-section3__box6 {
    background-color: $color_type_8;
    box-shadow: 0px 13.631250381469727px 40.02568054199219px 0px rgba(215, 227, 248, 0.4980392156862745);
    border-radius: 15.145833969116211px 15.145833969116211px 15.145833969116211px 15.145833969116211px;
  }
  &-section3__box6.layout {
    position: absolute;
    top: 289px;
    height: 296px;
    left: 446px;
    width: 547px;
    min-width: 547px;
  }
  &-section3__image7 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__image7.layout {
    position: absolute;
    top: 310px;
    height: 127px;
    left: 632px;
    width: 175px;
    min-width: 175px;
  }
  &-section3__subtitle3 {
    @include h-center-content;
    font: $font_type_9;
    color: $color_type_9;
    text-align: center;
    letter-spacing: 0px;
  }
  &-section3__subtitle3.layout {
    position: absolute;
    top: 373px;
    height: min-content;
    left: 0px;
    right: 0px;
    width: 32.31%;
    margin: 0px auto;
  }
  &-section3__big-title1-box {
    @include h-center-content;
  }
  &-section3__big-title1-box.layout {
    position: absolute;
    top: 109px;
    height: min-content;
    left: 0px;
    right: 0px;
    width: 17.93%;
    margin: 0px auto;
  }
  &-section3__big-title1 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type_2;
    color: $color_type_4;
    text-align: center;
    letter-spacing: 0px;
    white-space: pre-wrap;
  }
  &-section3__big-title1-span0 {
    @include font-face($font_type_25, $color_type_0, 0px);
  }
  &-section3__big-title1-span1 {
    @include font-face($font_type_25, $color_type_2, 0px);
  }
  &-section4__section4 {
    @include flex-column;
  }
  &-section4__section4.layout {
    position: relative;
    height: 629px;
  }
  &-section4__box1 {
    background-color: $color_type_11;
    opacity: 0.62;
  }
  &-section4__box1.layout {
    position: absolute;
    top: 178px;
    height: 449px;
    left: 0px;
    width: 1440px;
    min-width: 1440px;
  }
  &-section4__cover2 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section4__cover2.layout {
    position: absolute;
    top: 56px;
    height: 573px;
    left: 0px;
    width: 822px;
    min-width: 822px;
  }
  &-section4__block1 {
    @include flex-column;
  }
  &-section4__block1.layout {
    position: absolute;
    top: 182px;
    height: 330px;
    left: 458px;
    width: 326px;
    min-width: 326px;
  }
  &-section4__decorator1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section4__decorator1.layout {
    position: absolute;
    top: -41px;
    height: 330px;
    left: -75px;
    width: 326px;
  }
  &-section4__hero-title-box {
    width: 100%;
    height: 100%;
  }
  &-section4__hero-title {
    @include font-face($font_type_0, $color_type_4, 0px);
  }
  &-section4__hero-title-span0 {
    @include font-face($font_type_26, $color_type_0, 0px);
  }
  &-section4__hero-title-span1 {
    @include font-face($font_type_26, $color_type_3, 0px);
  }
  &-section4__subtitle {
    @include font-face($font_type_6, $color_type_8, 5px);
  }
  &-section4__subtitle.layout {
    position: absolute;
    top: 122px;
    height: min-content;
    left: 79px;
    min-width: 0px;
    width: fit-content;
  }
  &-section4__box3 {
    background-color: $color_type_12;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    opacity: 0;
  }
  &-section4__box3.layout {
    position: absolute;
    top: 447px;
    height: 65px;
    left: 79px;
    width: 199px;
    min-width: 199px;
  }
  &-section4__subtitle1 {
    @include font-face($font_type_11, $color_type_8, 0px);
  }
  &-section4__subtitle1.layout {
    position: absolute;
    top: 468px;
    height: min-content;
    left: 126px;
    min-width: 0px;
    width: fit-content;
  }
  &-section4__medium-title-box {
    width: 100%;
    height: 100%;
  }
  &-section4__medium-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_4, $color_type_8, 0px);
    white-space: pre-wrap;
  }
  &-section4__medium-title1 {
    @include font-face($font_type_4, $color_type_8, 0px);
    width: 100%;
    height: 100%;
  }
  &-section4__highlights-box.layout {
    position: absolute;
    top: 306px;
    height: min-content;
    left: 894px;
    min-width: 0px;
    width: fit-content;
  }
  &-section4__highlights {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_13, $color_type_8, 0px);
    white-space: pre-wrap;
  }
  &-section4__highlights1 {
    @include v-center-content;
    @include font-face($font_type_14, $color_type_8, 0px);
  }
  &-section4__highlights1.layout {
    position: absolute;
    top: 309px;
    height: min-content;
    left: 1143px;
    min-width: 0px;
    width: fit-content;
  }
  &-section4__highlights2 {
    @include v-center-content;
    @include font-face($font_type_14, $color_type_8, 0px);
  }
  &-section4__highlights2.layout {
    position: absolute;
    top: 345px;
    height: min-content;
    left: 1142px;
    min-width: 0px;
    width: fit-content;
  }
  &-section4__highlights11 {
    @include font-face($font_type_18, $color_type_5, 0px);
  }
  &-section4__highlights11.layout {
    position: absolute;
    top: 583px;
    height: min-content;
    left: 1015px;
    min-width: 0px;
    width: fit-content;
  }
}
