body{
  margin: 0px;
  padding: 0px;
}

.body1{
  background-image:url("../src/assets/SLIDE-3_00000.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 800px;
  display: flex; 
}

.cont{
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 40px;
}
.cont h2{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 5px;
}
.cont h1{
  font: 500 64px/0.93 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.cont h3{
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.buttons{
  margin-top: 10px;
}

.buttons a{
  background-color: #ff6700;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ff6700;
  padding: 18px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.buttons .serv{
  background-color: black;
  color: #ff6700;
  margin-left: 30px;
}
.buttons .serv:hover{
  background-color: #ff6700;
  color: black;
  margin-left: 30px;
}

.body2{
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box1{
  width: 40%;
  height: auto;
  margin-left: 30px;
}

.box1 p{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 4.7px;
  padding-bottom: 0px;
}
.box1 span{
  color:#ff6700ff;
}
.box1 h2{
  font: 500 25px "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  font-weight: bold;
}

.box1 h3{
  font:  18px/1.60 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  letter-spacing: 0px;
  text-align: justify;
  
}

.box2:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}


.box2{
  
  width: 23%;
  height: auto;
  margin-top: 30px;
  padding: 20px;
}
.box2 img{
  width: 45px;
}
.box2 h3{
  font:  18px/1.60 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  letter-spacing: 0px;
  text-align: justify;
  
}
.box2 h2{
  font: 500 20.0070095062px/1.45 "Futura", Helvetica, Arial, serif;
  color: black;
  font-weight: bold;
}


.box3{
  width: 23%;
  margin-top: 30px;
  padding: 20px;
}
.box3 img{
  width: 45px;
}
.box3 h3{
  font:  18px/1.60 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  letter-spacing: 0px;
  text-align: justify;
  
}
.box3 h2{
  font: 500 20.0070095062px/1.45 "Futura", Helvetica, Arial, serif;
  color: black;
  font-weight: bold;
}
.box3:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}

.box4{
  width: 18%;
  padding: 20px;
}

.box4 img{
  width: 45px;
}
.box4 h3{
  font:  18px/1.60 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  letter-spacing: 0px;
  text-align: justify;
  
}
.box4 h2{
  font: 500 20.0070095062px/1.45 "Futura", Helvetica, Arial, serif;
  color: black;
  font-weight: bold;
}
.box4:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}

.box5{
  width: 18%;
  padding: 20px;
}

.box5 img{
  width: 45px;
}
.box5 h3{
  font:  18px/1.60 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  letter-spacing: 0px;
  text-align: justify;
  
}
.box5 h2{
  font: 500 20.0070095062px/1.45 "Futura", Helvetica, Arial, serif;
  color: black;
  font-weight: bold;
}
.box5:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}

.box6{
  width: 23%;
  padding: 20px;
}

.box6 img{
  width: 45px;
}
.box6 h3{
  font:  18px/1.60 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  letter-spacing: 0px;
  text-align: justify;
  
}
.box6 h2{
  font: 500 20.0070095062px/1.45 "Futura", Helvetica, Arial, serif;
  color: black;
  font-weight: bold;
}
.box6:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}

.box7{
  width: 23%;
  padding: 20px;
}

.box7 img{
  width: 45px;
}
.box7 h3{
  font:  18px/1.60 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  letter-spacing: 0px;
  text-align: justify;
  
}
.box7 h2{
  font: 500 20.0070095062px/1.45 "Futura", Helvetica, Arial, serif;
  color: black;
  font-weight: bold;
}
.box7:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.scrnbar{
  background-color: white;
  box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 13%);
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
   font: 500 17px/1.21 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  height: 30px;
}
.scrnbar>h3{
  margin: 0;
}
.medi{
  width: 100%;
  background-image: url("../src/assets/89deb60fe9d83b24464eded2d1b28fdc.png");
  background-size: cover;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 130px;
  padding-bottom: 130px;
  align-items: center;
}
.medimg{
  width: 27%;
  padding-top: 80px;
}
.medimg img{
  width: 80%;

}
.contmedi{
  width: 40%;
  height: auto;
}

.contmedi h3{
  font: 500 16px/3.75 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 2.9px;
}
.contmedi h2{
  font: 500 44px/1.36 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}
.contmedi p{
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.contmedi a{
  background-color: #ff6700;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ff6700;
  padding: 18px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  text-decoration: none;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: black;
  cursor: pointer;
  margin-top: 35px;
}

.analy{
  width: 100%;
  background-image: url("../src/assets/89deb60fe9d83b24464eded2d1b28fdc.png");
  background-size: cover;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 130px;
  padding-bottom: 130px;
  align-items: center;
}
.anaimg{
  width: 27%;
  padding-top: 80px;
}
.anaimg img{
  width: 80%;
}


.contanaly{
  width: 40%;
  margin-left: 50px;
  height: auto;
}

.contanaly h3{
  font: 500 15px/3.75 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 2.9px;
}
.contanaly h2{
  font: 500 44px/1.36 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}
.contanaly p{
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.contanaly a{
  background-color: #ff6700;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  border: 2px solid #ff6700;
  padding: 18px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: black;
  cursor: pointer;
  margin-top: 35px;
}


.reve{
  width: 100%;
  background-image: url("../src/assets/89deb60fe9d83b24464eded2d1b28fdc.png");
  background-size: cover;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 130px;
  padding-bottom: 130px;
  align-items: center;
}

.reveimg{
  width: 27%;
  padding-top: 80px;
}
.reveimg img{
  width:80%;
  padding-top: 10px;

}

.contreve{
  width: 40%;
  height: auto;
}

.contreve h3{
  font: 500 16px/3.75 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 2.9px;
}
.contreve h2{
  font: 500 44px/1.36 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}
.contreve p{
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.contreve a{
  background-color: #ff6700;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ff6700;
  padding: 18px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: black;
  cursor: pointer;
  margin-top: 35px;
}


.fmos{
  width: 100%;
  background-image: url("../src/assets/89deb60fe9d83b24464eded2d1b28fdc.png");
  background-size: cover;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 130px;
  padding-bottom: 130px;
  align-items: center;
}
.fmosimg{
  width: 27%;
  padding-top: 80px;
}
.fmosimg img{
  width: 80%;
  padding-top: 10px;

}

.contfmos{
  width: 40%;
  height: auto;
}

.contfmos h3{
  font: 500 16px/3.75 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 2.9px;
}
.contfmos h2{
  font: 500 44px/1.36 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}
.contfmos p{
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.contfmos a{
  background-color: #ff6700;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ff6700;
  padding: 18px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: black;
  cursor: pointer;
  margin-top: 35px;
  text-decoration: none;
}


.soon{
  width: 100%;
  background-image: url("../src/assets/89deb60fe9d83b24464eded2d1b28fdc.png");
  background-size: cover;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 130px;
  padding-bottom: 130px;
  align-items: center;
}

.soonimg{
  width: 27%;
  padding-top: 80px;
}
.soonimg img{
  width:80%;
  padding-top: 10px;

}

.contsoon{
  width: 40%;
  height: auto;
}

.contsoon h3{
  font: 500 16px/3.75 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 2.9px;
}
.contsoon h2{
  font: 500 44px/1.36 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}
.contsoon p{
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.contsoon a{
  background-color: #ff6700;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ff6700;
  padding: 18px;
  padding-left: 50px;
  text-decoration: none;
  padding-right: 50px;
  font-size: 20px;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: black;
  cursor: pointer;
  margin-top: 35px;
}
.body4{
  width: 100%;
  height: auto;
  background-image: url(../src/assets/dd824fdc4612f56cf7b17f7151c51c50.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.body4 h3{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 5px;
}

.body4 h2{
  font: 500 2em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}
.body4 span{
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700;
  font-weight: bold;
}

.boxes{
  display: flex;
  width: 100%;
  flex-flow: row;
  margin-top: 20px;
  margin-bottom: 40px;
}

.b1{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.b1 img{
  width: 15%;
}

.b1:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b1 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
}
.b1 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.b2{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.b2 img{
  width: 15%;
}

.b2:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b2 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
}
.b2 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.b3{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.b3 img{
  width: 15%;
}

.b3:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b3 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
}
.b3 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.b4{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.b4 img{
  width: 15%;
}

.b4:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b4 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
  align-items: center;
  display: block;
}
.b4 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.body5 
{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 30px;
}
.body5 h2{
  font: 500 2em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.body5 span{
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.companies{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
}

.companies img{
  display: flex;
  width: 10%;
  height: 10%;
  flex-flow: row;
}

.body6{
  display: flex;
  background-image: url(../src/assets/11d58143815810d69a32d27e3383c071.png);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10%;
  background-size: contain;
}

.body6 h2{
  font: 500 2em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.body6 span{
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.pers1{
  position: absolute;
  left: 20%;
  margin-top: 64px;
  
}

.pers1 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers2{
  position: absolute;
  left: 8%;
  margin-top: 19%;
  
}

.pers2 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers3{
  position: absolute;
  left: 82%;
  
}

.pers3 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers4{
  position: absolute;
  left: 86%;
  margin-top: 385px;
  
}

.pers4 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.boxx{
  width: 40%;
  height: 30%;
  box-shadow: 0px 13.5000009537px 39.6402893066px 0px rgb(215 227 248 / 50%);
  border-radius: 15.0000009537px 15.0000009537px 15.0000009537px 15.0000009537px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  z-index: 7;
}
.top{
  width: 90%;
  margin-left: 2%;
  height: auto;
  align-items: center;
}

.top img{
  position: absolute;
  width: 12%;
  margin-top: 20px;
  margin-left: 14%;
  z-index: -2;
}
.top p{
  margin-top: 23%;
  opacity: 1;
  font: 19.80742836px/1.49 "Quicksand", Helvetica, Arial, serif;
  color: #2f2f2f;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 37px;
  margin-left: 20px;
  display: flex;

}
.dots{
  position: absolute;
  width: 10%;
  height: 33%;
  object-fit: cover;
  margin-left: 39%;
}

.boxx1{
  width: 38%;
  height: 30%;
  box-shadow: 0px 13.5000009537px 39.6402893066px 0px rgb(215 227 248 / 50%);
  border-radius: 15.0000009537px 15.0000009537px 15.0000009537px 15.0000009537px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 31%;
  position: absolute;
  margin-top:17%;
  z-index: 6;
}
.boxx2{
  width: 36%;
  height: 30%;
  box-shadow: 0px 13.5000009537px 39.6402893066px 0px rgb(215 227 248 / 50%);
  border-radius: 15.0000009537px 15.0000009537px 15.0000009537px 15.0000009537px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 32%;
  position: absolute;
  margin-top:22%;
  z-index: 3;
}

.dots2{
  width: 15%;
  object-fit: cover;
  margin-left: 24%;
}
.dots2 img{
  width: 100%;
  margin-left: 17%;
}

.pers5{
  position: absolute;
  margin-top: 39%;
  left: 17%;
}

.pers5 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers6{
  position: absolute;
  margin-top: 42%;
  left: 77%;
}

.pers6 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.body7{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: url(../src/assets/11d58143815810d69a32d27e3383c071.png);
  background-size: contain;
}
.carr{
  width: 40%;
  display: flex;
  flex-flow: column;
}
.carr h2{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 5px;
}

.carr h3{
  font: 500 2em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}

.carr span{
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.carcont{
  width: 40%;
  display: flex;
  flex-flow: column;
  border-left: 2px solid black;
  padding-left: 30px;
}
.carcont p{
  font: 500 20px/1.9 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  opacity: 0.8;
}

.carcont a{
  background-color: #ff6700;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ff6700;
  padding: 18px;
  width: 30%;
  text-decoration: none;
  font-size: 20px;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  cursor: pointer;
  margin-top: 35px;
}

.sticky2 {
  position: fixed;
  /* top: 8%; */
  top: 65px;

  width: 100%;
  z-index: 1;
}

.active{
 background-color: #FF6700;
 /* padding: 21px; */
 color: white;
}

@media screen and (max-width:800px) {
  .scrnbar{
      font-size: 12px;
  }
}