body{
  margin: 0px;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 80%;
  margin-left: 18%;

}

.heading {
  width: 100%;
  display: inline-flex;
}

.pics{
  display: flex;
  flex-flow: row-reverse;
  padding-left: 65%;
}
.heading h2 {
  font: 700 24px/1.2 "Nunito", Helvetica, Arial, serif;
  color: #030229;
  letter-spacing: 0px;
  margin-left: 20px;
}

.img1.layout {
  height: 60px;
  width: 60px;
}

.img.layout {
  width: 35px;
  /* position: absolute;
  margin-top: 1%;
  margin-left: 39%;
  display: flex; */
}

.img.layout1 {
  position: absolute;
  width: 10px;
  margin-top: 1%;
  margin-right: 4.3%;
}
.heading input{
  border: 0;
  outline: none;
  height: 40px;
  width: 18%;
}

.heading button{
  width: 4%;
  height: 42px;
  border: 0;
  outline: none;
  border-radius: 20%;
  margin-left: 10px;
}

.body1 h2{
  font: 700 24px/1.2 "Nunito", Helvetica, Arial, serif;
  color: #030229;
  letter-spacing: 0px;
}

.body1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn{
  width: 120px;
  height: 35px;
  background-color: #ff6700;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  border: 0;
  color: white;
  margin-top: 18px;
  margin-right: 25px;
  cursor: pointer;
}


tr:first-child th:first-child { 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
tr:first-child th:last-child { 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px;
}

.job-table thead tr th{
  cursor:pointer;    

}

.job-table .table_body tr td, .job-table thead tr th
{
  text-align: center;
  padding:20px;
  border-collapse: collapse;
}

.pagination-wrapper
{
  display: flex;
  width: 100%;
 
  justify-content: space-between;
  flex-flow: row;
  
}

.job-resume-table-conatiner{
  width: 100%;
}
.job-table{
  width: 100%; 
  border-collapse: separate;
  border-spacing: 0 15px;
}
.table_header1 {
  border-radius: 13px;
  border-collapse: collapse;
  text-align: center;
  height: 50px;
  background-color: white;
  border-spacing: 0px;
  
}
th{
  border-spacing: 0px;
}


.addrowproperty {
  border-radius: 13px;
  box-shadow: 0 8px 10px 0 rgb(193 191 191 / 35%);
  border-collapse: separate;
  border-spacing: 0 1em;
  border-spacing: 0 15px;
}


#pagination-container{
  display: flex;
}

.pgc button{
 outline: none;
 border: 0;
 padding: 5px;
 font-size: 15px;
 margin: 5px;

}

.pgn button{
  outline: none;
  border: 0;
  padding: 5px;
  font-size: 15px;
  margin: 5px;
  border: 1px solid #ff6700;
  background-color: #ff6700;
  color: white;
}



.pgsc select{
  outline: none;
  border: 0;
  padding: 0px;
  font-size: 15px;
  background-color: none;
}

.pgsc{

  margin: 5px;
  padding: 5px;
}

.active11{
  border: 0;
  outline: none;
  background-color: black !important;
  color: #ff6700;
}
.swal-button--danger {
  background-color: #ff6700;
}

.send{
  margin-left: auto;
}

.export{
  margin-left: 51%;
}

.hiddenclass{
  display:none;
  }

  .close span{
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
    font-size: 25px;
    cursor: pointer;
    margin-top: -30px;
    color: black;
    transition: 0.3s;
  
  }
  .close>span:hover{
   font-size: 30px;
  }
  
  .main#blur.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
  }
  
  .popup{
    width: 400px;
    height: 280px;
    position:fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    background-color:rgb(228, 227, 227);
    border-radius: 13px;
    box-shadow: 0 0.255em 3.152em grey;
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 30px;
  }
  
  #popup.active{
    top: 60%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  
  .ins-popup{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
  
  }
  
  .ins-popup input{
    border-radius: 8px;
   border: none;
    height: 30px;
    margin-top: 5px;
    color: black;
   
  }
  .ins-popup>input:focus{
    outline-color: #ff6700;
  }
  
  .ins-popup h3{
    margin: 0px;
    color: #ff6700;
  }
  
  .chngpswd{
    width: 40%;
    height: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
    cursor: pointer;
    color: #ff6700;
    border: 1px solid white;
  }
  
  .chngpswd:hover{
    transform: scale(1.25);
  }

  .email1{
    height: 40px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
  }

  .send-btn{
    padding: 10px;
    height: 40px;
    width: 120px;
    background-color: #ff6700;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
  }

  .excelfile{
    background-color: white;
    color: black;
    /* padding: 10px; */
    border-radius: 5px;
  }
  .popup>input::file-selector-button {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 15px;
    border: thin solid grey;
    border-radius: 5px;
    background-color: #ff6700 ;
}

  