/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.faqscreen-main {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.faqscreen-main.layout {
  position: relative;
  overflow: hidden;
}
.faqscreen-main-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.faqscreen-section1__section1 {
  display: flex;
  flex-direction: column;
}
.faqscreen-section1__section1.layout {
  position: relative;
  height: 585px;
}
.faqscreen-section1__cover {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section1__cover.layout {
  position: absolute;
  top: 88px;
  height: 454px;
  left: 0px;
  width: 1440px;
  min-width: 1440px;
}
.faqscreen-section1__box {
  background-color: white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1294117647);
}
.faqscreen-section1__box.layout {
  position: absolute;
  top: 0px;
  height: 88px;
  left: 0px;
  width: 1440px;
  min-width: 1440px;
}
.faqscreen-section1__image {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section1__image.layout {
  position: absolute;
  top: 32px;
  height: 30px;
  left: 71px;
  width: 207px;
  min-width: 207px;
}
.faqscreen-section1__highlights2 {
  font: 500 18px/1.33 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.faqscreen-section1__highlights2.layout {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 734px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section1__highlights2.layout1 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 846px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section1__highlights2.layout2 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 987px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section1__highlights2.layout3 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1129px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section1__highlights21 {
  font: 500 18px/1.33 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.1px;
}
.faqscreen-section1__highlights21.layout {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1229px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section1__highlights2.layout4 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 650px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section1__icon {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section1__icon.layout {
  position: absolute;
  top: 40px;
  height: 14px;
  left: 1353px;
  width: 14px;
  min-width: 14px;
}
.faqscreen-section1__hero-title1 {
  font: 500 55px/1.45 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.faqscreen-section1__hero-title1.layout {
  position: absolute;
  top: 261px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 663px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section1__big-title {
  font: 600 32px/0.93 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.faqscreen-section1__big-title.layout {
  position: absolute;
  top: 358px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 414px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__section2 {
  display: flex;
  flex-direction: column;
}
.faqscreen-section2__section2.layout {
  position: relative;
  height: 1243px;
}
.faqscreen-section2__box4 {
  background-color: white;
  box-shadow: 0px 13.6312503815px 40.025680542px 0px rgba(215, 227, 248, 0.4980392157);
  border-radius: 10px 10px 10px 10px;
}
.faqscreen-section2__box4.layout {
  position: absolute;
  top: 61px;
  height: 192px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__subtitle1 {
  display: flex;
  align-items: center;
  font: 500 23.3679904938px/1.2 "Futura", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 0px;
}
.faqscreen-section2__subtitle1.layout {
  position: absolute;
  top: 89px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__highlights3-box {
  width: 100%;
  height: 100%;
}
.faqscreen-section2__highlights3 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 17.9753761292px/2.17 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.1265152246px;
  white-space: pre-wrap;
}
.faqscreen-section2__block2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 7.1901507378px 35.9507522583px 0px rgba(0, 0, 0, 0.0274509804);
  border-radius: 17.9753761292px 17.9753761292px 17.9753761292px 17.9753761292px;
}
.faqscreen-section2__block2.layout {
  position: absolute;
  top: 279px;
  height: 89px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__image1 {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section2__image1.layout {
  position: relative;
  height: 14px;
  width: 25px;
  min-width: 25px;
  margin: 40px 0px 0px 1244px;
}
.faqscreen-section2__block3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 7.1901507378px 35.9507522583px 0px rgba(0, 0, 0, 0.0274509804);
  border-radius: 17.9753761292px 17.9753761292px 17.9753761292px 17.9753761292px;
}
.faqscreen-section2__block3.layout {
  position: absolute;
  top: 738px;
  height: 90px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__image2 {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section2__image2.layout {
  position: relative;
  height: 13px;
  width: 25px;
  min-width: 25px;
  margin: 41px 0px 0px 1244px;
}
.faqscreen-section2__block3.layout1 {
  position: absolute;
  top: 508px;
  height: 90px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__block4 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 7.1901507378px 35.9507522583px 0px rgba(0, 0, 0, 0.0274509804);
  border-radius: 17.9753761292px 17.9753761292px 17.9753761292px 17.9753761292px;
}
.faqscreen-section2__block4.layout {
  position: absolute;
  top: 967px;
  height: 90px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__image1.layout1 {
  position: relative;
  height: 14px;
  width: 25px;
  min-width: 25px;
  margin: 41px 0px 0px 1244px;
}
.faqscreen-section2__block3.layout2 {
  position: absolute;
  top: 393px;
  height: 90px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__block4.layout1 {
  position: absolute;
  top: 852px;
  height: 90px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__image1.layout2 {
  position: relative;
  height: 14px;
  width: 25px;
  min-width: 25px;
  margin: 41px 0px 0px 1244px;
}
.faqscreen-section2__block4.layout2 {
  position: absolute;
  top: 622px;
  height: 90px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__image1.layout3 {
  position: relative;
  height: 14px;
  width: 25px;
  min-width: 25px;
  margin: 41px 0px 0px 1244px;
}
.faqscreen-section2__block3.layout3 {
  position: absolute;
  top: 1082px;
  height: 90px;
  left: 63px;
  width: 1314px;
  min-width: 1314px;
}
.faqscreen-section2__image3 {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section2__image3.layout {
  position: absolute;
  top: 97px;
  height: 15px;
  left: 1306px;
  width: 27px;
  min-width: 27px;
}
.faqscreen-section2__subtitle2 {
  display: flex;
  align-items: center;
  font: 500 23.3679904938px/1.2 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.faqscreen-section2__subtitle2.layout {
  position: absolute;
  top: 309px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__subtitle2.layout1 {
  position: absolute;
  top: 769px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__subtitle2.layout2 {
  position: absolute;
  top: 539px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__subtitle2.layout3 {
  position: absolute;
  top: 998px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__subtitle2.layout4 {
  position: absolute;
  top: 424px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__subtitle2.layout5 {
  position: absolute;
  top: 883px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__subtitle2.layout6 {
  position: absolute;
  top: 653px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section2__subtitle2.layout7 {
  position: absolute;
  top: 1113px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 103px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section3__section3 {
  display: flex;
  flex-direction: column;
}
.faqscreen-section3__section3.layout {
  position: relative;
  height: 633px;
}
.faqscreen-section3__cover1 {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section3__cover1.layout {
  position: absolute;
  top: 60px;
  height: 573px;
  left: 0px;
  width: 822px;
  min-width: 822px;
}
.faqscreen-section3__block1 {
  display: flex;
  flex-direction: column;
}
.faqscreen-section3__block1.layout {
  position: absolute;
  top: 186px;
  height: 330px;
  left: 458px;
  width: 326px;
  min-width: 326px;
}
.faqscreen-section3__decorator1 {
  background: var(--src) center center/cover no-repeat;
}
.faqscreen-section3__decorator1.layout {
  position: absolute;
  top: -41px;
  height: 330px;
  left: -75px;
  width: 326px;
}
.faqscreen-section3__hero-title-box {
  width: 100%;
  height: 100%;
}
.faqscreen-section3__hero-title {
  font: 700 65px/1.64 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.faqscreen-section3__hero-title-span0 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.faqscreen-section3__hero-title-span1 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #ffffffff;
  letter-spacing: 0px;
}
.faqscreen-section3__subtitle {
  font: 700 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 5px;
}
.faqscreen-section3__subtitle.layout {
  position: absolute;
  top: 126px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 79px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section3__box3 {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 5px 5px 5px 5px;
  opacity: 0;
}
.faqscreen-section3__box3.layout {
  position: absolute;
  top: 451px;
  height: 65px;
  left: 79px;
  width: 199px;
  min-width: 199px;
}
.faqscreen-section3__subtitle1 {
  font: 700 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.faqscreen-section3__subtitle1.layout {
  position: absolute;
  top: 472px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 126px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section3__medium-title-box {
  width: 100%;
  height: 100%;
}
.faqscreen-section3__medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.faqscreen-section3__medium-title1 {
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.faqscreen-section3__highlights-box.layout {
  position: absolute;
  top: 310px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 894px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section3__highlights {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 18px/2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.faqscreen-section3__highlights1 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.faqscreen-section3__highlights1.layout {
  position: absolute;
  top: 313px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1143px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section3__highlights2 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.faqscreen-section3__highlights2.layout {
  position: absolute;
  top: 349px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1141px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.faqscreen-section3__highlights11 {
  font: 500 15.666217804px/1.6 "Quicksand", Helvetica, Arial, serif;
  color: #c6c9d8;
  letter-spacing: 0px;
}
.faqscreen-section3__highlights11.layout {
  position: absolute;
  top: 587px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1015px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-block {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.footer-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 810px;
}
.footer-cover {
  background: var(--src) center center/cover no-repeat;
}
.footer-cover.layout {
  position: absolute;
  top: 358px;
  height: 452px;
  left: 0px;
  width: 1440px;
  min-width: 1440px;
}
.footer-cover1 {
  background: var(--src) center center/cover no-repeat;
}
.footer-cover1.layout {
  position: absolute;
  top: 237px;
  height: 573px;
  left: 0px;
  width: 821px;
  min-width: 821px;
}
.footer-hero-title-box {
  width: 100%;
  height: 100%;
}
.footer-hero-title {
  font: 700 65px/1.64 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.footer-hero-title-span0 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.footer-hero-title-span1 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #ffffffff;
  letter-spacing: 0px;
}
.footer-subtitle {
  font: 700 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 5px;
}
.footer-subtitle.layout {
  position: absolute;
  top: 329px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 62px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-box {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 5px 5px 5px 5px;
  opacity: 0;
}
.footer-box.layout {
  position: absolute;
  top: 654px;
  height: 65px;
  left: 62px;
  width: 199px;
  min-width: 199px;
}
.footer-subtitle1 {
  font: 700 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.footer-subtitle1.layout {
  position: absolute;
  top: 675px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 109px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-block1 {
  display: flex;
  flex-direction: column;
}
.footer-block1.layout {
  position: absolute;
  top: 341px;
  height: 330px;
  left: 458px;
  width: 326px;
  min-width: 326px;
}
.footer-decorator {
  background: var(--src) center center/cover no-repeat;
}
.footer-decorator.layout {
  position: absolute;
  top: -41px;
  height: 330px;
  left: -75px;
  width: 326px;
}
.footer-medium-title-box {
  width: 100%;
  height: 100%;
}
.footer-medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.footer-medium-title1 {
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.footer-highlights-box.layout {
  position: absolute;
  top: 472px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 900px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-highlights {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 18px/2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.footer-highlights1 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.footer-highlights1.layout {
  position: absolute;
  top: 475px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1198px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-highlights2 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.footer-highlights2.layout {
  position: absolute;
  top: 511px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1197px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-highlights11 {
  font: 500 15.666217804px/1.6 "Quicksand", Helvetica, Arial, serif;
  color: #c6c9d8;
  letter-spacing: 0px;
}
.footer-highlights11.layout {
  position: absolute;
  top: 762px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1041px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: red;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}