@import url("https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
    }

    .xs\:hide {
        display: none;
    }
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: rgb(112, 112, 112);
$color_type_1: rgb(243, 111, 33);
$color_type_2: rgb(250, 250, 250);

$font_type_0: 400 40.104270935058594px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
$font_type_1: 400 18.653148651123047px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
$font_type_2: 500 16.78783416748047px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
$font_type_3: 300 13.057204246520996px/1.2 "Avenir", Helvetica, Arial, serif;
$font_type_4: 400 13.057204246520996px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;

.block {
  @include flex-column;
  background-color: $color_type_2;
}
.block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1024px;
}
.cover {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.cover.layout {
  position: absolute;
  top: 0px;
  height: 1019px;
  left: 0px;
  width: 705px;
  min-width: 705px;
}
.image {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.image.layout {
  position: absolute;
  top: 232px;
  height: 267px;
  left: 815px;
  width: 233px;
  min-width: 233px;
}
.block1 {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
}
.block1.layout {
  position: absolute;
  top: 210px;
  height: 604px;
  left: 762px;
  width: 572px;
  min-width: 572px;
}
.text_body {
  @include font-face($font_type_3, $color_type_0, 0px);
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.cover1 {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.07450980392156863));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.cover1.layout {
  position: absolute;
  top: 570px;
  height: 75px;
  left: 90px;
  width: 540px;
  min-width: 540px;
}
.text_body1 {
  @include font-face($font_type_4, $color_type_0, 0px);
  width: 100%;
  height: 100%;
}
.cover2 {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.07450980392156863));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.cover2.layout {
  position: absolute;
  top: 463px;
  height: 74px;
  left: 90px;
  width: 540px;
  min-width: 540px;
}
.text_body11 {
  @include font-face($font_type_4, $color_type_0, 0px);
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.highlights {
  @include font-face($font_type_2, $color_type_0, 0px);
}
.highlights.layout {
  position: absolute;
  top: 495px;
  height: min-content;
  left: 129px;
  min-width: 0px;
  width: fit-content;
}
.box {
  background-color: $color_type_1;
}
.box.layout {
  position: absolute;
  top: 463px;
  height: 74px;
  left: 90px;
  width: 8px;
  min-width: 8px;
}
.highlights1 {
  @include font-face($font_type_1, $color_type_0, 0px);
  width: 100%;
  height: 100%;
}
.hero_title {
  @include font-face($font_type_0, $color_type_0, 0px);
}
.hero_title.layout {
  position: absolute;
  top: 304px;
  height: min-content;
  left: 90px;
  min-width: 0px;
  width: fit-content;
}
.highlights11 {
  @include font-face($font_type_1, $color_type_0, 0px);
}
.highlights11.layout {
  position: absolute;
  top: 695px;
  height: min-content;
  left: 525px;
  min-width: 0px;
  width: fit-content;
}
.image2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.image2.layout {
  position: absolute;
  top: 694px;
  height: 27px;
  left: 613px;
  width: 18px;
  min-width: 18px;
}
.image3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
}
.image3.layout {
  position: absolute;
  top: 701px;
  height: 13px;
  left: 604px;
  width: 20px;
  min-width: 20px;
}
.block2 {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
}
.block2.layout {
  position: absolute;
  top: 83px;
  height: 34px;
  left: 90px;
  width: 235px;
  min-width: 235px;
}

@mixin tn {
  @media(max-width: 383px) {
    @content;
  }
}

@mixin xxs {
  @media(max-width: 479px) {
    @content;
  }
}

@mixin xs {
  @media(max-width: 575px) {
    @content;
  }
}

@mixin sm {
  @media(max-width: 767px) {
    @content;
  }
}

@mixin md {
  @media(max-width: 991px) {
    @content;
  }
}

@mixin lg {
  @media(max-width: 1199px) {
    @content;
  }
}

@mixin xl {
  @media(max-width: 1399px) {
    @content;
  }
}

@mixin xxl {
  @media(max-width: 1919px) {
    @content;
  }
}

@mixin xxxl {
  @media(max-width: 2999px) {
    @content;
  }
}

@mixin max {
  @media(max-width: 99999px) {
    @content;
  }
}

@mixin h-center-content {
  display: flex;
  justify-content: center;
}

@mixin v-center-content {
  display: flex;
  align-items: center;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-item($grow: 0, $shrink: 1, $basis: auto) {
  display: flex;
  position: relative;
  flex: $grow $shrink $basis;
}

@mixin font-face($font, $color, $letterSpacing: 0px) {
  font: $font;
  color: $color;
  letter-spacing: $letterSpacing;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
    }

    .xs\:hide {
        display: none;
    }
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
@import url("https://fonts.googleapis.com/css2?family=Avenir:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}

/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.block {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1024px;
}

.cover {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.cover.layout {
  position: absolute;
  top: 0px;
  height: 1019px;
  left: 0px;
  width: 705px;
  min-width: 705px;
}

.image {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image.layout {
  position: absolute;
  top: 232px;
  height: 267px;
  left: 815px;
  width: 233px;
  min-width: 233px;
}

.block1 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}

.block1.layout {
  position: absolute;
  top: 210px;
  height: 604px;
  left: 762px;
  width: 572px;
  min-width: 572px;
}

.text_body {
  font: 300 13.0572042465px/1.2 "Avenir", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.cover1 {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.0745098039));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.cover1.layout {
  position: absolute;
  top: 570px;
  height: 75px;
  left: 90px;
  width: 540px;
  min-width: 540px;
}

.text_body1 {
  font: 400 13.0572042465px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}

.cover2 {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.0745098039));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.cover2.layout {
  position: absolute;
  top: 463px;
  height: 74px;
  left: 90px;
  width: 540px;
  min-width: 540px;
}

.text_body11 {
  font: 400 13.0572042465px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.highlights {
  font: 500 16.7878341675px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
}

.highlights.layout {
  position: absolute;
  top: 495px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 129px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.box {
  background-color: #f36f21;
}

.box.layout {
  position: absolute;
  top: 463px;
  height: 74px;
  left: 90px;
  width: 8px;
  min-width: 8px;
}

.highlights1 {
  font: 400 18.6531486511px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}

.hero_title {
  font: 400 40.1042709351px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
}

.hero_title.layout {
  position: absolute;
  top: 304px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 90px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.highlights11 {
  font: 400 18.6531486511px/1.2 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
}

.highlights11.layout {
  position: absolute;
  top: 695px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 525px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.image2 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image2.layout {
  position: absolute;
  top: 694px;
  height: 27px;
  left: 613px;
  width: 18px;
  min-width: 18px;
}

.image3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.image3.layout {
  position: absolute;
  top: 701px;
  height: 13px;
  left: 604px;
  width: 20px;
  min-width: 20px;
}

.block2 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}

.block2.layout {
  position: absolute;
  top: 83px;
  height: 34px;
  left: 90px;
  width: 235px;
  min-width: 235px;
}

input {
border: none;
background-color: transparent;
resize: none;
outline: none;
}