/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: #000000ff;
$color_type_1: #ffffffff;
$color_type_2: rgb(0, 0, 0);
$color_type_3: rgb(198, 201, 216);
$color_type_4: rgb(255, 103, 0);
$color_type_5: rgb(255, 255, 255);
$color_type_6: rgba(0, 0, 0, 0);

$font_type_0: 700 65px/1.64 "Futura", Helvetica, Arial, serif;
$font_type_1: 500 55px/1.45 "Futura", Helvetica, Arial, serif;
$font_type_2: 600 32px/0.93 "Quicksand", Helvetica, Arial, serif;
$font_type_3: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
$font_type_4: 500 23.367990493774414px/1.2 "Futura", Helvetica, Arial, serif;
$font_type_5: 700 20px/3 "Quicksand", Helvetica, Arial, serif;
$font_type_6: 700 20px/1.2 "Quicksand", Helvetica, Arial, serif;
$font_type_7: 500 18px/2 "Quicksand", Helvetica, Arial, serif;
$font_type_8: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
$font_type_9: 500 18px/1.33 "Futura", Helvetica, Arial, serif;
$font_type_10: 500 17.97537612915039px/2.17 "Quicksand", Helvetica, Arial, serif;
$font_type_11: 500 15.666217803955078px/1.6 "Quicksand", Helvetica, Arial, serif;
$font_type_12: 700 1em/1.64 "Futura", Helvetica, Arial, serif;

.faqscreen {
  &-main {
    @include flex-column;
    background-color: $color_type_5;
  }
  &-main.layout {
    position: relative;
    overflow: hidden;
  }
  &-main-item {
    @include flex-column;
    position: relative;
  }
  &-section1__section1 {
    @include flex-column;
  }
  &-section1__section1.layout {
    position: relative;
    height: 585px;
  }
  &-section1__cover {
    background: var(--src) center center / cover no-repeat;
  }
  &-section1__cover.layout {
    position: absolute;
    top: 88px;
    height: 454px;
    left: 0px;
    width: 1440px;
    min-width: 1440px;
  }
  &-section1__box {
    background-color: $color_type_5;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12941176470588237);
  }
  &-section1__box.layout {
    position: absolute;
    top: 0px;
    height: 88px;
    left: 0px;
    width: 1440px;
    min-width: 1440px;
  }
  &-section1__image {
    background: var(--src) center center / cover no-repeat;
  }
  &-section1__image.layout {
    position: absolute;
    top: 32px;
    height: 30px;
    left: 71px;
    width: 207px;
    min-width: 207px;
  }
  &-section1__highlights2 {
    @include font-face($font_type_9, $color_type_2, 0px);
  }
  &-section1__highlights2.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 734px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout1 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 846px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout2 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 987px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout3 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 1129px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights21 {
    @include font-face($font_type_9, $color_type_2, -0.1px);
  }
  &-section1__highlights21.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 1229px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__highlights2.layout4 {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 650px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__icon {
    background: var(--src) center center / cover no-repeat;
  }
  &-section1__icon.layout {
    position: absolute;
    top: 40px;
    height: 14px;
    left: 1353px;
    width: 14px;
    min-width: 14px;
  }
  &-section1__hero-title1 {
    @include font-face($font_type_1, $color_type_5, 0px);
  }
  &-section1__hero-title1.layout {
    position: absolute;
    top: 261px;
    height: min-content;
    left: 663px;
    min-width: 0px;
    width: fit-content;
  }
  &-section1__big-title {
    @include font-face($font_type_2, $color_type_5, 0px);
  }
  &-section1__big-title.layout {
    position: absolute;
    top: 358px;
    height: min-content;
    left: 414px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__section2 {
    @include flex-column;
  }
  &-section2__section2.layout {
    position: relative;
    height: 1243px;
  }
  &-section2__box4 {
    background-color: $color_type_5;
    box-shadow: 0px 13.631250381469727px 40.02568054199219px 0px rgba(215, 227, 248, 0.4980392156862745);
    border-radius: 10px 10px 10px 10px;
  }
  &-section2__box4.layout {
    position: absolute;
    top: 61px;
    height: 192px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__subtitle1 {
    @include v-center-content;
    @include font-face($font_type_4, $color_type_4, 0px);
  }
  &-section2__subtitle1.layout {
    position: absolute;
    top: 89px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__highlights3-box {
    width: 100%;
    height: 100%;
  }
  &-section2__highlights3 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_10, $color_type_2, -0.1265152245759964px);
    white-space: pre-wrap;
  }
  &-section2__block2 {
    @include flex-column;
    background-color: $color_type_5;
    box-shadow: 0px 7.190150737762451px 35.95075225830078px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 17.97537612915039px 17.97537612915039px 17.97537612915039px 17.97537612915039px;
  }
  &-section2__block2.layout {
    position: absolute;
    top: 279px;
    height: 89px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__image1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section2__image1.layout {
    position: relative;
    height: 14px;
    width: 25px;
    min-width: 25px;
    margin: 40px 0px 0px 1244px;
  }
  &-section2__block3 {
    @include flex-column;
    background-color: $color_type_5;
    box-shadow: 0px 7.190150737762451px 35.95075225830078px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 17.97537612915039px 17.97537612915039px 17.97537612915039px 17.97537612915039px;
  }
  &-section2__block3.layout {
    position: absolute;
    top: 738px;
    height: 90px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__image2 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section2__image2.layout {
    position: relative;
    height: 13px;
    width: 25px;
    min-width: 25px;
    margin: 41px 0px 0px 1244px;
  }
  &-section2__block3.layout1 {
    position: absolute;
    top: 508px;
    height: 90px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__block4 {
    @include flex-column;
    background-color: $color_type_5;
    box-shadow: 0px 7.190150737762451px 35.95075225830078px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 17.97537612915039px 17.97537612915039px 17.97537612915039px 17.97537612915039px;
  }
  &-section2__block4.layout {
    position: absolute;
    top: 967px;
    height: 90px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__image1.layout1 {
    position: relative;
    height: 14px;
    width: 25px;
    min-width: 25px;
    margin: 41px 0px 0px 1244px;
  }
  &-section2__block3.layout2 {
    position: absolute;
    top: 393px;
    height: 90px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__block4.layout1 {
    position: absolute;
    top: 852px;
    height: 90px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__image1.layout2 {
    position: relative;
    height: 14px;
    width: 25px;
    min-width: 25px;
    margin: 41px 0px 0px 1244px;
  }
  &-section2__block4.layout2 {
    position: absolute;
    top: 622px;
    height: 90px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__image1.layout3 {
    position: relative;
    height: 14px;
    width: 25px;
    min-width: 25px;
    margin: 41px 0px 0px 1244px;
  }
  &-section2__block3.layout3 {
    position: absolute;
    top: 1082px;
    height: 90px;
    left: 63px;
    width: 1314px;
    min-width: 1314px;
  }
  &-section2__image3 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section2__image3.layout {
    position: absolute;
    top: 97px;
    height: 15px;
    left: 1306px;
    width: 27px;
    min-width: 27px;
  }
  &-section2__subtitle2 {
    @include v-center-content;
    @include font-face($font_type_4, $color_type_2, 0px);
  }
  &-section2__subtitle2.layout {
    position: absolute;
    top: 309px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__subtitle2.layout1 {
    position: absolute;
    top: 769px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__subtitle2.layout2 {
    position: absolute;
    top: 539px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__subtitle2.layout3 {
    position: absolute;
    top: 998px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__subtitle2.layout4 {
    position: absolute;
    top: 424px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__subtitle2.layout5 {
    position: absolute;
    top: 883px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__subtitle2.layout6 {
    position: absolute;
    top: 653px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section2__subtitle2.layout7 {
    position: absolute;
    top: 1113px;
    height: min-content;
    left: 103px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__section3 {
    @include flex-column;
  }
  &-section3__section3.layout {
    position: relative;
    height: 633px;
  }
  &-section3__cover1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__cover1.layout {
    position: absolute;
    top: 60px;
    height: 573px;
    left: 0px;
    width: 822px;
    min-width: 822px;
  }
  &-section3__block1 {
    @include flex-column;
  }
  &-section3__block1.layout {
    position: absolute;
    top: 186px;
    height: 330px;
    left: 458px;
    width: 326px;
    min-width: 326px;
  }
  &-section3__decorator1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-section3__decorator1.layout {
    position: absolute;
    top: -41px;
    height: 330px;
    left: -75px;
    width: 326px;
  }
  &-section3__hero-title-box {
    width: 100%;
    height: 100%;
  }
  &-section3__hero-title {
    @include font-face($font_type_0, $color_type_2, 0px);
  }
  &-section3__hero-title-span0 {
    @include font-face($font_type_12, $color_type_0, 0px);
  }
  &-section3__hero-title-span1 {
    @include font-face($font_type_12, $color_type_1, 0px);
  }
  &-section3__subtitle {
    @include font-face($font_type_5, $color_type_5, 5px);
  }
  &-section3__subtitle.layout {
    position: absolute;
    top: 126px;
    height: min-content;
    left: 79px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__box3 {
    background-color: $color_type_6;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    opacity: 0;
  }
  &-section3__box3.layout {
    position: absolute;
    top: 451px;
    height: 65px;
    left: 79px;
    width: 199px;
    min-width: 199px;
  }
  &-section3__subtitle1 {
    @include font-face($font_type_6, $color_type_5, 0px);
  }
  &-section3__subtitle1.layout {
    position: absolute;
    top: 472px;
    height: min-content;
    left: 126px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__medium-title-box {
    width: 100%;
    height: 100%;
  }
  &-section3__medium-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_3, $color_type_5, 0px);
    white-space: pre-wrap;
  }
  &-section3__medium-title1 {
    @include font-face($font_type_3, $color_type_5, 0px);
    width: 100%;
    height: 100%;
  }
  &-section3__highlights-box.layout {
    position: absolute;
    top: 310px;
    height: min-content;
    left: 894px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__highlights {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_7, $color_type_5, 0px);
    white-space: pre-wrap;
  }
  &-section3__highlights1 {
    @include v-center-content;
    @include font-face($font_type_8, $color_type_5, 0px);
  }
  &-section3__highlights1.layout {
    position: absolute;
    top: 313px;
    height: min-content;
    left: 1143px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__highlights2 {
    @include v-center-content;
    @include font-face($font_type_8, $color_type_5, 0px);
  }
  &-section3__highlights2.layout {
    position: absolute;
    top: 349px;
    height: min-content;
    left: 1141px;
    min-width: 0px;
    width: fit-content;
  }
  &-section3__highlights11 {
    @include font-face($font_type_11, $color_type_3, 0px);
  }
  &-section3__highlights11.layout {
    position: absolute;
    top: 587px;
    height: min-content;
    left: 1015px;
    min-width: 0px;
    width: fit-content;
  }
}

@mixin tn {
    @media(max-width: 383px) {
      @content;
    }
  }
  
  @mixin xxs {
    @media(max-width: 479px) {
      @content;
    }
  }
  
  @mixin xs {
    @media(max-width: 575px) {
      @content;
    }
  }
  
  @mixin sm {
    @media(max-width: 767px) {
      @content;
    }
  }
  
  @mixin md {
    @media(max-width: 991px) {
      @content;
    }
  }
  
  @mixin lg {
    @media(max-width: 1199px) {
      @content;
    }
  }
  
  @mixin xl {
    @media(max-width: 1399px) {
      @content;
    }
  }
  
  @mixin xxl {
    @media(max-width: 1919px) {
      @content;
    }
  }
  
  @mixin xxxl {
    @media(max-width: 2999px) {
      @content;
    }
  }
  
  @mixin max {
    @media(max-width: 99999px) {
      @content;
    }
  }
  
  @mixin h-center-content {
    display: flex;
    justify-content: center;
  }
  
  @mixin v-center-content {
    display: flex;
    align-items: center;
  }
  
  @mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flex-item($grow: 0, $shrink: 1, $basis: auto) {
    display: flex;
    position: relative;
    flex: $grow $shrink $basis;
  }
  
  @mixin font-face($font, $color, $letterSpacing: 0px) {
    font: $font;
    color: $color;
    letter-spacing: $letterSpacing;
  }