<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/AdminDashboard.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.6.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="admin-dashboard block layout">
      /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
      <div class="block1 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/<img
          src="/assets/9c71b8eadfebaada652a3203c32bb9f5.png"
          alt=""
          class="image layout"
        />
        <div style="--src:url(/assets/fad3bb21f0460df1a9d73cdc935618d2.png)" class="block2 layout"></div>
        <div class="block3 layout">
          <div class="block4 layout">
            <div class="group layout">
              <div class="block5 layout">
                <div class="block5__item">
                  <img src="/assets/beb1bcdc66c86a770977fa261c7d282b.png" alt="" class="icon layout" />
                </div>
                <div class="spacer block5__spacer"></div>
                <div class="text_body layout">Dashboard</div>
              </div>
            </div>
          </div>
          <div class="block6 layout">
            <div class="flex layout">
              <div class="flex__item">
                <div class="block7 layout">
                  /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode
                  editor.*/<img src="/assets/2e3698b3a081d14c989ecd23ce11064b.png" alt="" class="icon1 layout" />
                  <div class="box layout"></div>
                  <div class="box1 layout"></div>
                </div>
              </div>
              <div class="spacer flex__spacer"></div>
              <div class="text_body1 layout">New job</div>
            </div>
          </div>
          <div class="block8 layout">
            <div class="group layout">
              <div class="block9 layout">
                <div class="block9__item">
                  <img src="/assets/862296fcd3c41112a7c39e969c5e4fa8.png" alt="" class="icon1 layout1" />
                </div>
                <div class="spacer block9__spacer"></div>
                <div class="text_body1 layout1">Job list</div>
              </div>
            </div>
          </div>
          <div class="block8 layout">
            <div class="group layout">
              <div class="block9 layout">
                <div class="block9__item1">
                  <img src="/assets/f0bf2e7c6123ebe172530398396c947c.png" alt="" class="icon1 layout1" />
                </div>
                <div class="spacer block9__spacer1"></div>
                <div class="text_body1 layout2">View resume</div>
              </div>
            </div>
          </div>
          <div class="block8 layout">
            <div class="group layout">
              <div class="block9 layout">
                <div class="block9__item2">
                  <img src="/assets/bbebb6522097e302bec83deb7c6d2e4b.png" alt="" class="icon1 layout1" />
                </div>
                <div class="spacer block9__spacer2"></div>
                <div class="text_body1 layout3">Contact list</div>
              </div>
            </div>
          </div>
        </div>
        <div class="block10 layout">
          /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/<img
            src="/assets/3e014b751bec254b92667feb27ddf5a7.png"
            alt=""
            class="decorator layout"
          /><img src="/assets/3e014b751bec254b92667feb27ddf5a7.png" alt="" class="decorator layout1" />
          <div class="block11 layout">
            <px-posize track-style='{"flexGrow":1}' x="56fr 28.21% 56fr" y="12.5px minmax(0px, 15fr) 12.5fr"
              ><div class="small_text_body">Logout</div></px-posize
            >
          </div>
          <div style="--src:url(/assets/5de2224ccd85afb81825eb968620f18d.png)" class="block12 layout">
            <div class="box4 layout"></div>
          </div>
        </div>
        <div class="box5 layout"></div>
        <div class="box6 layout"></div>
        <h1 class="big_title layout">?</h1>
      </div>
      <div class="block13 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
        <h3 class="subtitle layout">190+</h3>
        <div class="text_body2 layout">Applied Job</div>
        <div class="block14 layout"></div>
      </div>
      <div class="block15 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
        <h3 class="subtitle layout1">20+</h3>
        <div class="text_body2 layout1">Total Job</div>
      </div>
      <div class="block16 layout"></div>
      <div class="box7 layout"></div>
      <h3 class="subtitle1 layout">178+</h3>
      <div class="text_body2 layout2">Total User</div>
      <div class="box10 layout"></div>
      <img src="/assets/d2267fc4150e8f2b9a66555df4eb3f31.png" alt="" class="icon1 layout2" />
      <div class="box7 layout1"></div>
      <h3 class="subtitle layout2">12+</h3>
      <div class="text_body2 layout3">Contacted User</div>
      <div class="box11 layout"></div>
      <img src="/assets/c3366d765d050c4d361cba709ab4d383.png" alt="" class="icon2 layout" /><img
        src="/assets/8b94143068dd7812a5b814f4559883d6.png"
        alt=""
        class="icon3 layout"
      />
      <h2 class="medium_title layout">Dashboard</h2>
      <div class="block17 layout">
        <div class="block17__item">
          <div class="block18 layout">
            /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
            <div style="--src:url(/assets/21f8a5dcc9431a42525053b9fd5fa455.svg)" class="block19 layout">
              <img src="/assets/949bdaf521405b99f1bb83433425c2d1.png" alt="" class="icon4 layout" />
            </div>
            <div class="box12 layout"></div>
          </div>
        </div>
        <div class="spacer block17__spacer"></div>
        <div class="block17__item">
          <img src="/assets/7889e0a33f6e2d2e06a337c7bc245670.png" alt="" class="icon5 layout" />
        </div>
      </div>
      <div class="box13 layout"></div>
      <div class="box14 layout"></div>
      <div class="block20 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
        <div class="line layout"></div>
        <div class="line layout1"></div>
        <div class="line layout2"></div>
        <div class="line layout3"></div>
        <div class="line layout4"></div>
        <div class="line layout5"></div>
      </div>
      <px-posize x="289fr minmax(0px, max-content) 1128fr" y="335px minmax(0px, max-content) 675fr" absolute="true"
        ><div class="small_text_body1">100</div></px-posize
      ><px-posize x="295fr minmax(0px, max-content) 1128fr" y="382px minmax(0px, max-content) 628fr" absolute="true"
        ><div class="small_text_body1">80</div></px-posize
      ><px-posize x="295fr minmax(0px, max-content) 1128fr" y="429px minmax(0px, max-content) 581fr" absolute="true"
        ><div class="small_text_body1">60</div></px-posize
      ><px-posize x="295fr minmax(0px, max-content) 1128fr" y="476px minmax(0px, max-content) 534fr" absolute="true"
        ><div class="small_text_body1">40</div></px-posize
      ><px-posize x="295fr minmax(0px, max-content) 1128fr" y="523px minmax(0px, max-content) 487fr" absolute="true"
        ><div class="small_text_body1">20</div></px-posize
      ><px-posize x="302fr minmax(0px, max-content) 1128fr" y="570px minmax(0px, max-content) 440fr" absolute="true"
        ><div class="small_text_body1">0</div></px-posize
      >
      <div class="small_text_body11 layout">Jan</div>
      <div class="small_text_body11 layout1">Feb</div>
      <div class="small_text_body11 layout2">Mar</div>
      <div class="small_text_body11 layout3">Apr</div>
      <div class="small_text_body11 layout4">May</div>
      <div class="small_text_body11 layout5">Jun</div>
      <div class="small_text_body11 layout6">Jul</div>
      <div class="small_text_body11 layout7">Aug</div>
      <div class="small_text_body11 layout8">Sep</div>
      <div class="small_text_body11 layout9">Oct</div>
      <div class="small_text_body11 layout10">Nov</div>
      <div class="small_text_body11 layout11">Dec</div>
      <img src="/assets/39f056d97cdb1e20ecaeabab1f86f303.png" alt="" class="cover layout" /><img
        src="/assets/d370799f134efef85d460be5cf009f35.png"
        alt=""
        class="cover1 layout"
      /><img src="/assets/0aaca7515f27945dbd4d5fa1abad3fb2.png" alt="" class="icon6 layout" /><img
        src="/assets/d30b8d47bd0ff9d09be6989e910743d1.png"
        alt=""
        class="icon6 layout1"
      /><img src="/assets/975c392ed255d576a12790bc6f4674be.png" alt="" class="icon6 layout2" /><img
        src="/assets/c7b4bee7bc1c4c1f405c9467b9991b2e.png"
        alt=""
        class="icon6 layout3"
      /><img src="/assets/bfb5575d2a6611c220215d5482e90e52.png" alt="" class="icon6 layout4" />
      <h3 class="subtitle2 layout">Reports</h3>
      <div style="--src:url(/assets/95e707cb981582c7af6d5fb4d39a55a2.png)" class="block21 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
        <div class="small_text_body2 layout">Apply</div>
        <div class="text_body3 layout">2,678</div>
      </div>
      <img src="/assets/70a3b338e0ee85c0699d28e63ea6adf7.png" alt="" class="image4 layout" />
      <div class="block22 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
        <div class="box15 layout"></div>
        <img src="/assets/896aee626e6375b924e19237e2ead8c2.png" alt="" class="icon4 layout1" />
        <div class="block23 layout">
          <px-posize track-style='{"flexGrow":1}' x="0px 29fr 0fr" y="0px minmax(0px, 16fr) 0fr"
            ><div class="small_text_body3">Year</div></px-posize
          >
        </div>
      </div>
      <div class="block24 layout">
        <div class="block25 layout">
          /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/<img
            src="/assets/085da62b7d1e368ee26e34289a721748.png"
            alt=""
            class="icon7 layout"
          />
          <div class="block26 layout">
            <div class="text_body4 layout">Angelie Crison</div>
            <div class="spacer block26__spacer"></div>
            <div class="small_text_body4 layout">1 m Ago</div>
          </div>
          <div class="block27 layout">
            <div class="small_text_body5 layout">Thank you very much. I’m glad ...</div>
            <div class="spacer block27__spacer"></div>
            <div class="block27__item">
              <div class="block28 layout">
                <img src="/assets/8ee1fd908537e550c309159f6f181cc9.png" alt="" class="image5 layout" />
              </div>
            </div>
          </div>
          <h3 class="subtitle3 layout">AG</h3>
        </div>
      </div>
      <img src="/assets/cf889e0a71c3f5bba1f6e3e0cfb0c138.png" alt="" class="line1 layout" />
      <div class="block29 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/<img
          src="/assets/13e69e935c60de97e147d99ad8ea9e17.png"
          alt=""
          class="icon8 layout"
        />
        <div class="block30 layout">
          <div class="block26 layout1">
            <div class="text_body4 layout">Jakob Saris</div>
            <div class="spacer block26__spacer1"></div>
            <div class="small_text_body4 layout">2 m Ago</div>
          </div>
          <div class="block31 layout">
            <div class="small_text_body41 layout">You : Sure! let me tell you about w…</div>
            <div class="spacer block31__spacer"></div>
            <div class="block31__item">
              <div class="block32 layout">
                <img src="/assets/90e1f71076bca3a90032171fc3834f97.png" alt="" class="image6 layout" />
              </div>
            </div>
          </div>
        </div>
        <h3 class="subtitle4 layout">JS</h3>
      </div>
      <img src="/assets/30edd51d20d0af262b7447d1dd7d6953.png" alt="" class="line2 layout" />
      <div class="block33 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/<img
          src="/assets/95747ffb13dd8c2a58cddf7b00795151.png"
          alt=""
          class="icon7 layout1"
        />
        <div class="block34 layout">
          <div class="block26 layout1">
            <div class="text_body4 layout">Emery Korsgard</div>
            <div class="spacer block26__spacer2"></div>
            <div class="small_text_body4 layout">3 m Ago</div>
          </div>
          <div class="block35 layout">
            <div class="small_text_body5 layout">Thank’s. You are very helpful...</div>
            <div class="spacer block35__spacer"></div>
            <div class="block35__item">
              <div class="block36 layout">
                <img src="/assets/8ee1fd908537e550c309159f6f181cc9.png" alt="" class="icon9 layout" />
              </div>
            </div>
          </div>
        </div>
        <h3 class="subtitle5 layout">EK</h3>
      </div>
      <px-posize x="1088px 118fr 234fr" y="277px minmax(0px, max-content) 712fr" absolute="true"
        ><h3 class="subtitle6">Contact list</h3></px-posize
      >
      <h2 class="medium_title1 layout">Recent Applyed Job</h2>
      <img src="/assets/c7f0928eb79479046c4b56ca6c54192b.png" alt="" class="image7 layout" />
      <div class="block37 layout"><h5 class="highlights layout">View more</h5></div>
      <div class="box16 layout"></div>
      <img src="/assets/59d255a5e14d8d7b2e80cf8afe67946d.png" alt="" class="image8 layout" />
      <div class="block38 layout"></div>
      <img src="/assets/c7f0928eb79479046c4b56ca6c54192b.png" alt="" class="image7 layout1" />
      <div class="block44 layout">
        <px-posize track-style='{"flexGrow":1}' x="18px 35fr 13fr" y="5px minmax(0px, 17fr) 5fr"
          ><div class="text_body6">Male</div></px-posize
        >
      </div>
      <div class="block45 layout"><div class="text_body21 layout">+33757805467</div></div>
      <div class="block46 layout"><div class="text_body21 layout">john carilo182@.com</div></div>
      <div class="block47 layout"><div class="text_body21 layout">Graphic designer</div></div>
      <div class="block48 layout"><div class="text_body21 layout">John Carilo</div></div>
      <div class="block38 layout1"></div>
      <img src="/assets/c7f0928eb79479046c4b56ca6c54192b.png" alt="" class="image7 layout2" />
      <div class="block44 layout1">
        <px-posize track-style='{"flexGrow":1}' x="18px 35fr 13fr" y="5px minmax(0px, 17fr) 5fr"
          ><div class="text_body6">Male</div></px-posize
        >
      </div>
      <div class="block45 layout1"><div class="text_body21 layout">+33757005467</div></div>
      <div class="block49 layout"><div class="text_body21 layout">robertbacins4182@.com</div></div>
      <div class="block50 layout"><div class="text_body21 layout">Full stack developer</div></div>
      <div class="block51 layout"><div class="text_body21 layout">Robert Bacins</div></div>
      <div class="block38 layout2"></div>
      <div class="block51 layout1"><div class="text_body21 layout">Shelby Goode</div></div>
      <img src="/assets/0fb2c3aed6d3a7dc6c66eac91da873b4.png" alt="" class="image7 layout3" />
      <div class="block45 layout2"><div class="text_body21 layout">+33757005467</div></div>
      <div class="block52 layout"><div class="text_body21 layout">shelbygoode481@gmail.com</div></div>
      <div class="block53 layout"><div class="text_body21 layout">UX UI designer</div></div>
      <div class="block39 layout"><div class="text_body5 layout">Female</div></div>
      <div class="box17 layout"></div>
      <div class="block54 layout"><div class="text_body21 layout">John Deo</div></div>
      <div style="--src:url(/assets/5644114f1fa7429262c29f40392aa212.png)" class="block55 layout"></div>
      <div class="block45 layout3"><div class="text_body21 layout">+33757005467</div></div>
      <div class="block56 layout"><div class="text_body21 layout">johndoe2211@gmail.com</div></div>
      <div class="block57 layout"><div class="text_body21 layout">Web developer</div></div>
      <div class="block44 layout2">
        <px-posize track-style='{"flexGrow":1}' x="18px 35fr 13fr" y="5px minmax(0px, 17fr) 5fr"
          ><div class="text_body6">Male</div></px-posize
        >
      </div>
      <px-posize x="290px 35fr 1115fr" y="726px minmax(0px, 15fr) 283fr" absolute="true"
        ><div class="small_text_body6">Name</div></px-posize
      ><img src="/assets/3d836dc934c67ce684b469526f356dbe.png" alt="" class="image10 layout" /><img
        src="/assets/3d836dc934c67ce684b469526f356dbe.png"
        alt=""
        class="image10 layout1"
      /><px-posize x="774px 33fr 633fr" y="726px minmax(0px, 15fr) 283fr" absolute="true"
        ><div class="small_text_body6">Email</div></px-posize
      ><img src="/assets/630b3a4a48d6b6850a99f655399e8064.png" alt="" class="image10 layout2" />
      <div class="small_text_body61 layout">Job tittle</div>
      <img src="/assets/3d836dc934c67ce684b469526f356dbe.png" alt="" class="image10 layout3" /><px-posize
        x="1054px 82fr 304fr"
        y="726px minmax(0px, 15fr) 283fr"
        absolute="true"
        ><div class="small_text_body6">Phone number</div></px-posize
      ><img src="/assets/3d836dc934c67ce684b469526f356dbe.png" alt="" class="image10 layout4" /><px-posize
        x="1236px 43fr 161fr"
        y="726px minmax(0px, 15fr) 283fr"
        absolute="true"
        ><div class="small_text_body6">Gender</div></px-posize
      >
      <div class="block58 layout">
        /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
        <div class="block59 layout"><div class="text_body7 layout">Download</div></div>
        <div class="block60 layout">
          /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/
          <div style="--src:url(/assets/88a08900bc341cc51c8e7323a114744a.png)" class="block61 layout"></div>
          <px-posize x="32px 44fr 45fr" y="9px minmax(0px, 17fr) 10fr" absolute="true"
            ><div class="text_body8">Delete</div></px-posize
          >
        </div>
      </div>
      <img src="/assets/49b341075ee55ef43566f8d9089b7404.png" alt="" class="image12 layout" />
      <div class="block62 layout">
        <div class="block62__item">
          <div class="block63 layout">
            /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode
            editor.*/<img src="/assets/e9ddc03fc64c7b095d3732387cbdf268.png" alt="" class="image13 layout" /><img
              src="/assets/386a129abe7ec06463b99e001ea7b4d3.png"
              alt=""
              class="image14 layout"
            />
          </div>
        </div>
        <div class="spacer block62__spacer"></div>
        <div class="block62__item">
          <div class="block63 layout">
            /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode
            editor.*/<img src="/assets/68773900f8a559cd6e4301275d3573b5.png" alt="" class="image13 layout1" /><img
              src="/assets/386a129abe7ec06463b99e001ea7b4d3.png"
              alt=""
              class="image14 layout"
            />
          </div>
        </div>
      </div>
      <img src="/assets/02ae8c82c92ae3f1c44659f94df93114.png" alt="" class="image15 layout" />
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
