body{
  margin: 0px;
}

.body1{
  background-image: url("../src/assets/4ec7bdbe77e81ae0bd8b511e375919f3.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}
.body1 h3{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 4.4px;
  margin-bottom: 0px;
}

.body1 h1{
  font: 500 2em/1.57 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  font-weight: bold;
  margin-top: 0px;
}

.body1 span{
  font: 500 1em/1.57 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.body1 p{
  font: 500 18px/1.94 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  text-align: center;
  letter-spacing: 0px;
  width: 60%;
  margin-top: 0px;
}

.body2{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 130px;
}

.phot{
  display: flex;
  width: 50%;

}
.phot img{
  margin-left: 11%;
  margin-top: 5%;
}

.bg{
  position: absolute;
  width: 25%;
  left: 0%;
}

.fg{
  position: absolute;
  width: 24%;
  left: 13%;
  top: 60%;
}

.yrs{
  position: absolute;
  left: 21%;
  width: 15%;
}

.round{
  position: absolute;
  width: 11%;
  top: 85%;
  left: 7%;
  z-index: -1;
}

.cont1{
  width: 40%;
  display: flex;
  flex-flow: column;
}
.cont1 h1{
  font: 500 2em/1.55 "Futura", Helvetica, Arial, serif;
  color: #151515ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.cont1 span{
  font: 500 1em/1.55 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.cont1 p{
  text-align: justify;
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  border-left: 1px solid black;
  padding-left: 15px;
  
}

.cont1 a{
  background-color: #ff6700;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #ff6700;
  padding: 18px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: black;
  cursor: pointer;
  margin-top: 35px;
  width: 117px;
}

.body3{
  width: 100%;
  display: flex;
  flex-flow: row;
  background-image: url(../src/assets/26826f09d40a5066e077c3b8020009a6.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.box1{
  width: 23%;
  display: flex;
  height: auto;
  background-color: white;
  border: 2px solid #ff6700;
  flex-flow: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0.63125px 30.025681px 0px rgb(215 227 248 / 50%)
  
}

.box1 img{
  width: 50px;
  height: auto;
  padding: 15px;
}

.box1 h2{
  font: 500 2em/2.14 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  font-weight: bold;
  margin: 0px;
}

.box1 span{
  font: 500 1em/2.14 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.box1 p{
  display: flex;
  justify-content: center;
  font: 500 18px/1.94 "Quicksand", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  padding: 10px;
}

.box2{
  width: 23%;
  display: flex;
  height: auto;
  background-color: #ff6700;
  border: 2px solid white;
  flex-flow: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0.63125px 30.025681px 0px rgb(215 227 248 / 50%)
}

.box2 img{
  width: 50px;
  height: auto;
  padding: 15px;
}

.box2 h2{
  font: 500 2em/2.14 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  font-weight: bold;
  margin: 0px;
}

.box2 span{
  font: 500 1em/2.14 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  font-weight: bold;
}

.box2 p{
  display: flex;
  justify-content: center;
  font: 500 18px/1.94 "Quicksand", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  padding: 10px;
}

.body4{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;

}

.body4 h3{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 4.3px;
  margin-bottom: 0px;
}

.body4 h1{
  font: 500 2em/1.55 "Futura", Helvetica, Arial, serif;
  color: #151515ff;
  letter-spacing: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.body4 span{
  font: 500 1em/1.55 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.boxes{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
}

.md{
  width: 220px;
  /* min-width: 220px !important; */
  margin-top: 50px;
  background-color: #ff6700;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-flow: column;

}   

.md img{
  position: relative;
  right: 30%;
  width: 65%;
  border: 1px solid black;
  bottom: 8%;
}

.md p{
  font: 700 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  margin: 0px;
}

.md span{
  font: 500 12px/3 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 2.7px;
}

.dir1{
  width: 220px;
  /* min-width: 220px !important; */
  margin-top: 50px;
  background-color: #ff6700;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-flow: column;
 
}   

.dir1 img{
  position: relative;
  right: 30%;
  width: 65%;
  border: 1px solid black;
  bottom: 8%;
}

.dir1 p{
  font: 700 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  margin: 0px;
}

.dir1 span{
  font: 500 12px/3 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 2.7px;
}


.dir2{
  width: 220px;
  /* min-width: 220px !important; */
  margin-top: 50px;
  background-color: #ff6700;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-flow: column;

}   

.dir2 img{
  position: relative;
  right: 30%;
  width: 65%;
  border: 1px solid black;
  bottom: 8%;
}

.dir2 p{
  font: 700 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  margin: 0px;
}

.dir2 span{
  font: 500 12px/3 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 2.7px;
}


.body5{
  width: 100%;
  height: auto;
  background-image: url(../src/assets/dd824fdc4612f56cf7b17f7151c51c50.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.body5 h3{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 5px;
}

.body5 h2{
  font: 500 2em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  margin: 0px;
  font-weight: bold;
}
.body5 span{
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700;
  font-weight: bold;
}

.boxess{
  display: flex;
  width: 100%;
  flex-flow: row;
  margin-top: 20px;
  margin-bottom: 40px;
}

.b1{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.b1 img{
  width: 15%;
}

.b1:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b1 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
}
.b1 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.b2{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.b2 img{
  width: 15%;
}

.b2:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b2 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
}
.b2 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.b3{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.b3 img{
  width: 15%;
}

.b3:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b3 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
}
.b3 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.b4{
  width: 23%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.b4 img{
  width: 15%;
}

.b4:hover {
  border-image: linear-gradient(to right,#FF6700,#FFFFFF 13%,#FFFFFF 87% ,#FF6700) 7;
  border-width: 2px;
  border-style: solid;
}
.b4 h4{
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: lighter;
  margin: 5px;
  align-items: center;
  display: block;
}
.b4 h2{
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-weight: bold;
  padding-top:10px;
}

.body6{
  display: flex;
  background-image: url(../src/assets/11d58143815810d69a32d27e3383c071.png);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10%;
  background-size: contain;
}

.body6 h2{
  font: 500 2em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.body6 span{
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.pers1{
  position: absolute;
  left: 20%;
  margin-top: 64px;
  
}

.pers1 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers2{
  position: absolute;
  left: 8%;
  margin-top: 19%;
  
}

.pers2 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers3{
  position: absolute;
  left: 82%;
  
}

.pers3 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers4{
  position: absolute;
  left: 86%;
  margin-top: 385px;
  
}

.pers4 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.boxx{
  width: 40%;
  height: 30%;
  box-shadow: 0px 13.5000009537px 39.6402893066px 0px rgb(215 227 248 / 50%);
  border-radius: 15.0000009537px 15.0000009537px 15.0000009537px 15.0000009537px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  z-index: 7;
}
.top{
  width: 90%;
  margin-left: 2%;
  height: auto;
  align-items: center;
}

.top img{
  position: absolute;
  width: 12%;
  margin-top: 20px;
  margin-left: 14%;
  z-index: -2;
}
.top p{
  margin-top: 23%;
  opacity: 1;
  font: 19.80742836px/1.49 "Quicksand", Helvetica, Arial, serif;
  color: #2f2f2f;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 37px;
  margin-left: 20px;
  display: flex;

}
.dots{
  position: absolute;
  width: 10%;
  height: 33%;
  object-fit: cover;
  margin-left: 39%;
}

.boxx1{
  width: 38%;
  height: 30%;
  box-shadow: 0px 13.5000009537px 39.6402893066px 0px rgb(215 227 248 / 50%);
  border-radius: 15.0000009537px 15.0000009537px 15.0000009537px 15.0000009537px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 31%;
  position: absolute;
  margin-top:13%;
  z-index: 6;
}
.boxx2{
  width: 36%;
  height: 30%;
  box-shadow: 0px 13.5000009537px 39.6402893066px 0px rgb(215 227 248 / 50%);
  border-radius: 15.0000009537px 15.0000009537px 15.0000009537px 15.0000009537px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 32%;
  position: absolute;
  margin-top:18%;
  z-index: 3;
}

.dots2{
  width: 15%;
  object-fit: cover;
  margin-left: 24%;
}
.dots2 img{
  width: 100%;
  margin-left: 17%;
}

.pers5{
  position: absolute;
  margin-top: 39%;
  left: 17%;
}

.pers5 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.pers6{
  position: absolute;
  margin-top: 42%;
  left: 77%;
}

.pers6 img{
  width: 50%;
  box-shadow: 3px 4px 15px 2px lightgrey;
  border-radius: 50%;
}

.body7{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: column;
}

.body7 h3{
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  margin-bottom: 0px;
  letter-spacing: 5px;
}

.body7 h2{
  font: 500 2em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
  font-weight: bold;
  margin-top: 0px;
}

.body7 span{
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
  font-weight: bold;
}

.quot{
  width: 65%;
  display: flex;
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}
.q1,.q2{
  height: 50px;
}
.q2{
  margin-top: 135px;
}
.ilr{
  width: 100%;
}

@media screen and (max-width:900px) {
  .boxes p{
      font: 700 15px/1.50 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  margin: 0px;
  }

  .md{
      width: 180px;
      height: 220px;
  }

  .dir1{
      width: 180px;
      height: 220px;
  }

  .dir2{
      width: 180px;
      height: 220px;
  }
}