body{
  margin: 0px;
  background-color: #f5f5f7;
  
}

.body1{
  display: flex;
  flex-direction: column;
  padding-left: 18%;
  width: 100%;
  
}
.heading{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.heading h2{
  font: 700 24px/1.2 "Nunito", Helvetica, Arial, serif;
  color: #030229;
  letter-spacing: 0px;
  margin-left: 20px;
}
.img1.layout{
  height: 60px;
  width: 60px;
}
.img.layout{
  width: 35px;
  position: absolute;
  margin-top: 1%;
  margin-left: 39%;
  display: flex;
}

.img.layout1{
  position: absolute;
  width: 10px;
  margin-top: 1%;
  margin-left: 40.5%;
}

.formm{
  display: flex;
  width: 80%;
  flex-flow: row;
  
}
.tit{
  margin-left: 20px;
  width: 50%;
  display: flex;
  flex-flow: column;
}
p{
  font: 600 16px/1.2 "Nunito", Helvetica, Arial, serif;
  color: #030229;
  letter-spacing: 0px;
}
input{
  outline: none;
  border: 0;
  border-radius: 8px;
  width: 80%;
  padding: 20px;
}
textarea{
  border: none;
  outline: none;
  border-radius: 10px;
  width: 87%;
  padding: 20px;
}
select{
  border: none;
  width: 90%;
  border-radius: 10px;
  height: 100%;
  outline: none;
  margin-top: 2%;
}

.post{
  width: 80%;
  margin-left: 20px;
}
.post1{
  width: 80%;
  margin-left: 20px;
}
.long{
  display: flex;
  width: 100%;
}

.post1 input{
  background-color: white;
  padding: 22px;
  height: 15px;
  /* border: 1px solid #ff6700ff; */
}

.btn{
  width: 20%;
  margin: 20px;
}

.btn button{
  border-radius: 5px;
  color: white;
  font-size: large;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}