/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.about-us-screen3-main {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.about-us-screen3-main.layout {
  position: relative;
  overflow: hidden;
}
.about-us-screen3-main-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-us-screen3-section1__section1 {
  display: flex;
  flex-direction: column;
}
.about-us-screen3-section1__section1.layout {
  position: relative;
  height: 438px;
}
.about-us-screen3-section1__cover {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section1__cover.layout {
  position: absolute;
  top: 0px;
  height: 418px;
  left: 0px;
  width: 1440px;
  min-width: 1440px;
}
.about-us-screen3-section1__hero-title-box.layout {
  position: absolute;
  top: 194px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 395px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__hero-title {
  font: 500 38px/1.57 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section1__hero-title-span0 {
  font: 500 1em/1.57 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.about-us-screen3-section1__hero-title-span1 {
  font: 500 1em/1.57 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section1__subtitle1 {
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 4.4px;
}
.about-us-screen3-section1__subtitle1.layout {
  position: absolute;
  top: 131px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 661px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__highlights {
  display: flex;
  justify-content: center;
  font: 500 18px/1.94 "Quicksand", Helvetica, Arial, serif;
  color: #5d5d5d;
  text-align: center;
  letter-spacing: 0px;
}
.about-us-screen3-section1__highlights.layout {
  position: absolute;
  top: 265px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 63.75%;
  margin: 0px auto;
}
.about-us-screen3-section1__box6 {
  background-color: white;
}
.about-us-screen3-section1__box6.layout {
  position: absolute;
  top: 0px;
  height: 88px;
  left: 0px;
  width: 1440px;
  min-width: 1440px;
}
.about-us-screen3-section1__image19 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section1__image19.layout {
  position: absolute;
  top: 32px;
  height: 30px;
  left: 71px;
  width: 207px;
  min-width: 207px;
}
.about-us-screen3-section1__highlights1 {
  font: 700 18px/1.33 "Futura", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 0px;
}
.about-us-screen3-section1__highlights1.layout {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 730px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__highlights2 {
  font: 500 18px/1.33 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section1__highlights2.layout {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 864px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__highlights2.layout1 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1001px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__highlights2.layout2 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1139px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__highlights2.layout3 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1235px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__highlights2.layout4 {
  position: absolute;
  top: 35px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 650px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section1__icon {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section1__icon.layout {
  position: absolute;
  top: 40px;
  height: 14px;
  left: 1355px;
  width: 14px;
  min-width: 14px;
}
.about-us-screen3-section2__section2 {
  display: flex;
  flex-direction: column;
}
.about-us-screen3-section2__section2.layout {
  position: relative;
  height: 568px;
}
.about-us-screen3-section2__image18 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section2__image18.layout {
  position: absolute;
  top: 341px;
  height: 163px;
  left: 179px;
  width: 163px;
  min-width: 163px;
}
.about-us-screen3-section2__image20 {
  background: var(--src) center center/cover no-repeat;
  border-radius: 8px 8px 8px 8px;
}
.about-us-screen3-section2__image20.layout {
  position: absolute;
  top: 71px;
  height: 351px;
  left: 81px;
  width: 360px;
  min-width: 360px;
}
.about-us-screen3-section2__image21 {
  background: var(--src) center center/cover no-repeat;
  border-radius: 8px 8px 8px 8px;
}
.about-us-screen3-section2__image21.layout {
  position: absolute;
  top: 165px;
  height: 376px;
  left: 277px;
  width: 364px;
  min-width: 364px;
}
.about-us-screen3-section2__big-title-box.layout {
  position: absolute;
  top: 71px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 746px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section2__big-title {
  font: 500 33px/1.55 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section2__big-title-span0 {
  font: 500 1em/1.55 "Futura", Helvetica, Arial, serif;
  color: #151515ff;
  letter-spacing: 0px;
}
.about-us-screen3-section2__big-title-span1 {
  font: 500 1em/1.55 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section2__box7 {
  background-color: black;
}
.about-us-screen3-section2__box7.layout {
  position: absolute;
  top: 159px;
  height: 378px;
  left: 748px;
  width: 1px;
  min-width: 1px;
}
.about-us-screen3-section2__cover1 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section2__cover1.layout {
  position: absolute;
  top: 60px;
  height: 210px;
  left: 368px;
  width: 230px;
  min-width: 230px;
}
.about-us-screen3-section2__hero-title1 {
  font: 96px/0.53 "Hurricane", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section2__hero-title1.layout {
  position: absolute;
  top: 139px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 454px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section2__subtitle2-box {
  width: 100%;
  height: 100%;
}
.about-us-screen3-section2__subtitle2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.about-us-screen3-section2__box15 {
  background-color: #ff6700;
  border-radius: 5px 5px 5px 5px;
}
.about-us-screen3-section2__box15.layout {
  position: absolute;
  top: 460px;
  height: 65px;
  left: 768px;
  width: 199px;
  min-width: 199px;
}
.about-us-screen3-section2__subtitle5 {
  font: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.about-us-screen3-section2__subtitle5.layout {
  position: absolute;
  top: 481px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 808px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section3__section3 {
  display: flex;
  flex-direction: column;
}
.about-us-screen3-section3__section3.layout {
  position: relative;
  height: 635px;
}
.about-us-screen3-section3__image22 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section3__image22.layout {
  position: absolute;
  top: 46px;
  height: 457px;
  left: 0px;
  width: 1440px;
  min-width: 1440px;
}
.about-us-screen3-section3__box8 {
  background-color: white;
  box-shadow: 0px 13.6312503815px 40.025680542px 0px rgba(215, 227, 248, 0.4980392157);
  border: 3px solid #ff6700;
  border-radius: 10px 10px 10px 10px;
}
.about-us-screen3-section3__box8.layout {
  position: absolute;
  top: 247px;
  height: 359px;
  left: 81px;
  width: 377px;
  min-width: 377px;
}
.about-us-screen3-section3__box9 {
  background-color: #ff6700;
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px;
}
.about-us-screen3-section3__box9.layout {
  position: absolute;
  top: 247px;
  height: 359px;
  left: 532px;
  width: 377px;
  min-width: 377px;
}
.about-us-screen3-section3__box8.layout1 {
  position: absolute;
  top: 247px;
  height: 359px;
  left: 983px;
  width: 377px;
  min-width: 377px;
}
.about-us-screen3-section3__big-title1-box.layout {
  position: absolute;
  top: 349px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 184px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section3__big-title1 {
  font: 500 28px/2.14 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section3__big-title1-span0 {
  font: 500 1em/2.14 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.about-us-screen3-section3__big-title1-span1 {
  font: 500 1em/2.14 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section3__big-title1-box.layout1 {
  position: absolute;
  top: 349px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 641px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section3__big-title11-span0 {
  font: 500 1em/2.14 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.about-us-screen3-section3__big-title11-span1 {
  font: 500 1em/2.14 "Futura", Helvetica, Arial, serif;
  color: #ffffff;
  letter-spacing: 0px;
}
.about-us-screen3-section3__big-title11-span1a {
  font: 500 1em/2.14 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section3__big-title1-box.layout2 {
  position: absolute;
  top: 349px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1083px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section3__highlights3 {
  display: flex;
  justify-content: center;
  font: 500 18px/1.94 "Quicksand", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}
.about-us-screen3-section3__highlights3.layout {
  position: absolute;
  top: 426px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 22.92%;
  margin: 0px 69.65% 0px 7.43%;
}
.about-us-screen3-section3__highlights4 {
  display: flex;
  justify-content: center;
  font: 500 18px/1.94 "Quicksand", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}
.about-us-screen3-section3__highlights4.layout {
  position: absolute;
  top: 426px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 22.92%;
  margin: 0px auto;
}
.about-us-screen3-section3__highlights3.layout1 {
  position: absolute;
  top: 426px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 22.92%;
  margin: 0px 7.15% 0px 69.93%;
}
.about-us-screen3-section3__icon1 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section3__icon1.layout {
  position: absolute;
  top: 278px;
  height: 56px;
  left: 1144px;
  width: 56px;
  min-width: 56px;
}
.about-us-screen3-section3__image23 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section3__image23.layout {
  position: absolute;
  top: 286px;
  height: 40px;
  left: 692px;
  width: 55px;
  min-width: 55px;
}
.about-us-screen3-section3__image24 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section3__image24.layout {
  position: absolute;
  top: 277px;
  height: 58px;
  left: 244px;
  width: 52px;
  min-width: 52px;
}
.about-us-screen3-section4__section4 {
  display: flex;
  flex-direction: column;
}
.about-us-screen3-section4__section4.layout {
  position: relative;
  height: 2638px;
}
.about-us-screen3-section4__block1 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__block1.layout {
  position: absolute;
  top: 1089px;
  height: 916px;
  left: 81px;
  width: 1305px;
  min-width: 1305px;
}
.about-us-screen3-section4__image1 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image1.layout {
  position: absolute;
  top: 653px;
  height: 19px;
  left: 804px;
  width: 35px;
  min-width: 35px;
}
.about-us-screen3-section4__image2 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image2.layout {
  position: absolute;
  top: 656px;
  height: 12px;
  left: 764px;
  width: 21px;
  min-width: 21px;
}
.about-us-screen3-section4__image3 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image3.layout {
  position: absolute;
  top: 521px;
  height: 162px;
  left: 322px;
  width: 321px;
  min-width: 321px;
}
.about-us-screen3-section4__image4 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image4.layout {
  position: absolute;
  top: 308px;
  height: 162px;
  left: 665px;
  width: 322px;
  min-width: 322px;
}
.about-us-screen3-section4__image5 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image5.layout {
  position: absolute;
  top: 367px;
  height: 122px;
  left: 1038px;
  width: 112px;
  min-width: 112px;
}
.about-us-screen3-section4__image6 {
  background: var(--src) center center/cover no-repeat;
  filter: drop-shadow(0px 10.6020832062px 18.1749992371px rgba(66, 47, 47, 0.137254902));
}
.about-us-screen3-section4__image6.layout {
  position: absolute;
  top: 353px;
  height: 117px;
  left: 1042px;
  width: 104px;
  min-width: 104px;
}
.about-us-screen3-section4__image7 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image7.layout {
  position: absolute;
  top: 597px;
  height: 97px;
  left: 164px;
  width: 90px;
  min-width: 90px;
}
.about-us-screen3-section4__image8 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image8.layout {
  position: absolute;
  top: 591px;
  height: 79px;
  left: 174px;
  width: 71px;
  min-width: 71px;
}
.about-us-screen3-section4__image9 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image9.layout {
  position: absolute;
  top: 181px;
  height: 118px;
  left: 257px;
  width: 109px;
  min-width: 109px;
}
.about-us-screen3-section4__image10 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image10.layout {
  position: absolute;
  top: 169px;
  height: 103px;
  left: 265px;
  width: 93px;
  min-width: 93px;
}
.about-us-screen3-section4__image11 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image11.layout {
  position: absolute;
  top: 164px;
  height: 88px;
  left: 927px;
  width: 82px;
  min-width: 82px;
}
.about-us-screen3-section4__image12 {
  background: var(--src) center center/cover no-repeat;
  filter: drop-shadow(0px 10.6020832062px 18.1749992371px rgba(0, 0, 0, 0.137254902));
}
.about-us-screen3-section4__image12.layout {
  position: absolute;
  top: 158px;
  height: 71px;
  left: 936px;
  width: 64px;
  min-width: 64px;
}
.about-us-screen3-section4__image13 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image13.layout {
  position: absolute;
  top: 646px;
  height: 84px;
  left: 966px;
  width: 78px;
  min-width: 78px;
}
.about-us-screen3-section4__image14 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image14.layout {
  position: absolute;
  top: 639px;
  height: 68px;
  left: 975px;
  width: 60px;
  min-width: 60px;
}
.about-us-screen3-section4__image15 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image15.layout {
  position: absolute;
  top: 332px;
  height: 94px;
  left: 57px;
  width: 87px;
  min-width: 87px;
}
.about-us-screen3-section4__image16 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image16.layout {
  position: absolute;
  top: 332px;
  height: 70px;
  left: 69px;
  width: 63px;
  min-width: 63px;
}
.about-us-screen3-section4__box {
  background-color: white;
  border-radius: 15.1458339691px 15.1458339691px 15.1458339691px 15.1458339691px;
}
.about-us-screen3-section4__box.layout {
  position: absolute;
  top: 370px;
  height: 251px;
  left: 442px;
  width: 420px;
  min-width: 420px;
}
.about-us-screen3-section4__box1 {
  background-color: white;
  box-shadow: 0px 13.6312503815px 40.025680542px 0px rgba(215, 227, 248, 0.4980392157);
  border-radius: 15.1458339691px 15.1458339691px 15.1458339691px 15.1458339691px;
}
.about-us-screen3-section4__box1.layout {
  position: absolute;
  top: 331px;
  height: 275px;
  left: 422px;
  width: 460px;
  min-width: 460px;
}
.about-us-screen3-section4__box2 {
  background-color: white;
  box-shadow: 0px 13.6312503815px 40.025680542px 0px rgba(215, 227, 248, 0.4980392157);
  border-radius: 15.1458339691px 15.1458339691px 15.1458339691px 15.1458339691px;
}
.about-us-screen3-section4__box2.layout {
  position: absolute;
  top: 289px;
  height: 296px;
  left: 404px;
  width: 496px;
  min-width: 496px;
}
.about-us-screen3-section4__image17 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image17.layout {
  position: absolute;
  top: 310px;
  height: 127px;
  left: 573px;
  width: 159px;
  min-width: 159px;
}
.about-us-screen3-section4__subtitle {
  display: flex;
  justify-content: center;
  font: 20px/1.49 "Quicksand", Helvetica, Arial, serif;
  color: #2f2f2f;
  text-align: center;
  letter-spacing: 0px;
}
.about-us-screen3-section4__subtitle.layout {
  position: absolute;
  top: 373px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 32.34%;
  margin: 0px auto;
}
.about-us-screen3-section4__big-title-box {
  display: flex;
  justify-content: center;
}
.about-us-screen3-section4__big-title-box.layout {
  position: absolute;
  top: 109px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 17.93%;
  margin: 0px auto;
}
.about-us-screen3-section4__big-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 33px/1.81 "Futura", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -1.4px;
  white-space: pre-wrap;
}
.about-us-screen3-section4__big-title-span0 {
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__big-title-span1 {
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__box3 {
  background-color: #ff6700;
  border-radius: 8px 8px 8px 8px;
}
.about-us-screen3-section4__box3.layout {
  position: absolute;
  top: 268px;
  height: 337px;
  left: 105px;
  width: 254px;
  min-width: 254px;
}
.about-us-screen3-section4__box4 {
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 8px 8px 8px 8px;
  opacity: 0.18;
}
.about-us-screen3-section4__box4.layout {
  position: absolute;
  top: 539px;
  height: 66px;
  left: 105px;
  width: 254px;
  min-width: 254px;
}
.about-us-screen3-section4__box5 {
  background-color: #f3f3f3;
  border-radius: 8px 8px 8px 8px;
}
.about-us-screen3-section4__box5.layout {
  position: absolute;
  top: 268px;
  height: 283px;
  left: 447px;
  width: 254px;
  min-width: 254px;
}
.about-us-screen3-section4__box5.layout1 {
  position: absolute;
  top: 268px;
  height: 283px;
  left: 783px;
  width: 254px;
  min-width: 254px;
}
.about-us-screen3-section4__box5.layout2 {
  position: absolute;
  top: 268px;
  height: 283px;
  left: 1132px;
  width: 254px;
  min-width: 254px;
}
.about-us-screen3-section4__subtitle1 {
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 4.3px;
}
.about-us-screen3-section4__subtitle1.layout {
  position: absolute;
  top: 46px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 624px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__small-text-body {
  font: 500 12px/5 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 2.7px;
}
.about-us-screen3-section4__small-text-body.layout {
  position: absolute;
  top: 494px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 137px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__small-text-body1 {
  font: 500 12px/5 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 2.8px;
}
.about-us-screen3-section4__small-text-body1.layout {
  position: absolute;
  top: 494px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 477px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__small-text-body11 {
  font: 500 12px/5 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 3px;
}
.about-us-screen3-section4__small-text-body11.layout {
  position: absolute;
  top: 494px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 835px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__small-text-body12 {
  font: 500 12px/5 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 3px;
}
.about-us-screen3-section4__small-text-body12.layout {
  position: absolute;
  top: 494px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1167px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__big-title1-box.layout {
  position: absolute;
  top: 108px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 556px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__big-title1 {
  font: 500 33px/1.55 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section4__big-title1-span0 {
  font: 500 1em/1.55 "Futura", Helvetica, Arial, serif;
  color: #151515ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__big-title1-span1 {
  font: 500 1em/1.55 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__subtitle3 {
  font: 700 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section4__subtitle3.layout {
  position: absolute;
  top: 484px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 137px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__subtitle3.layout1 {
  position: absolute;
  top: 484px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 477px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__subtitle3.layout2 {
  position: absolute;
  top: 484px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 835px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__subtitle3.layout3 {
  position: absolute;
  top: 484px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1167px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section4__image25 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image25.layout {
  position: absolute;
  top: 563px;
  height: 20px;
  left: 134px;
  width: 11px;
  min-width: 11px;
}
.about-us-screen3-section4__image26 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image26.layout {
  position: absolute;
  top: 564px;
  height: 18px;
  left: 189px;
  width: 22px;
  min-width: 22px;
}
.about-us-screen3-section4__image27 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image27.layout {
  position: absolute;
  top: 569px;
  height: 13px;
  left: 320px;
  width: 12px;
  min-width: 12px;
}
.about-us-screen3-section4__box10 {
  background-color: white;
}
.about-us-screen3-section4__box10.layout {
  position: absolute;
  top: 570px;
  height: 12px;
  left: 312px;
  width: 4px;
  min-width: 4px;
}
.about-us-screen3-section4__icon2 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__icon2.layout {
  position: absolute;
  top: 563px;
  height: 4px;
  left: 312px;
  width: 4px;
  min-width: 4px;
}
.about-us-screen3-section4__block2 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__block2.layout {
  position: absolute;
  overflow: hidden;
  top: 561px;
  height: 24px;
  left: 249px;
  width: 24px;
  min-width: 24px;
}
.about-us-screen3-section4__icon4 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__icon4.layout {
  position: absolute;
  top: 8px;
  height: 8px;
  left: 8px;
  width: 8px;
  min-width: 8px;
}
.about-us-screen3-section4__box11 {
  background-color: #ff8531;
  border-radius: 1px;
}
.about-us-screen3-section4__box11.layout {
  position: absolute;
  top: 6px;
  height: 2px;
  left: 18px;
  width: 0px;
  min-width: 0px;
}
.about-us-screen3-section4__block3 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__block3.layout {
  position: absolute;
  top: 625px;
  height: 501px;
  left: 71px;
  width: 1315px;
  min-width: 1315px;
}
.about-us-screen3-section4__big-title2-box {
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__big-title2 {
  font: 500 33px/1.81 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section4__big-title2-span0 {
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__big-title2-span1 {
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__subtitle11 {
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 5px;
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__hero-title2 {
  font: 500 39.1312789917px/1.25 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__highlights5 {
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__image29 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image29.layout {
  position: absolute;
  top: 236px;
  height: 58px;
  left: 501px;
  width: 42px;
  min-width: 42px;
}
.about-us-screen3-section4__highlights51 {
  display: flex;
  justify-content: center;
  font: 600 16.3047008514px/1.74 "Quicksand", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}
.about-us-screen3-section4__highlights51.layout {
  position: absolute;
  top: 371px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 13.54%;
  margin: 0px 9.05% 0px 77.41%;
}
.about-us-screen3-section4__image30 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image30.layout {
  position: absolute;
  top: 236px;
  height: 57px;
  left: 1089px;
  width: 37px;
  min-width: 37px;
}
.about-us-screen3-section4__image31 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image31.layout {
  position: absolute;
  top: 237px;
  height: 57px;
  left: 780px;
  width: 52px;
  min-width: 52px;
}
.about-us-screen3-section4__image32 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image32.layout {
  position: absolute;
  top: 237px;
  height: 57px;
  left: 166px;
  width: 40px;
  min-width: 40px;
}
.about-us-screen3-section4__image33 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image33.layout {
  position: absolute;
  top: 216px;
  height: 217px;
  left: 72px;
  width: 233px;
  min-width: 233px;
}
.about-us-screen3-section4__cover3 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__cover3.layout {
  position: absolute;
  top: 1926px;
  height: 698px;
  left: 71px;
  width: 1315px;
  min-width: 1315px;
}
.about-us-screen3-section4__subtitle12 {
  font: 500 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 5px;
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__hero-title4 {
  font: 155px/1.2 "Londrina Outline", Helvetica, Arial, serif;
  color: #080808;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__hero-title5 {
  font: 155px/1.2 "Londrina Outline", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__big-title3-box {
  width: 100%;
  height: 100%;
}
.about-us-screen3-section4__big-title3 {
  font: 500 33px/1.81 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section4__big-title3-span0 {
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__big-title3-span1 {
  font: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
  color: #ff6700ff;
  letter-spacing: 0px;
}
.about-us-screen3-section4__image34 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__image34.layout {
  position: absolute;
  top: 2072px;
  height: 127px;
  left: 348px;
  width: 120px;
  min-width: 120px;
}
.about-us-screen3-section4__icon5 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section4__icon5.layout {
  position: absolute;
  top: 2211px;
  height: 127px;
  left: 990px;
  width: 121px;
  min-width: 121px;
}
.about-us-screen3-section4__subtitle2-box {
  display: flex;
  justify-content: center;
}
.about-us-screen3-section4__subtitle2-box.layout {
  position: absolute;
  top: 2135px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 0px;
  right: 0px;
  width: 38.89%;
  margin: 0px auto;
}
.about-us-screen3-section4__subtitle2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.about-us-screen3-section4__image35 {
  background: var(--src) center center/cover no-repeat;
  border-radius: 8px 8px 8px 8px;
}
.about-us-screen3-section4__image35.layout {
  position: absolute;
  top: 219px;
  height: 256px;
  left: 73px;
  width: 256px;
  min-width: 256px;
}
.about-us-screen3-section4__image35.layout1 {
  position: absolute;
  top: 219px;
  height: 256px;
  left: 417px;
  width: 256px;
  min-width: 256px;
}
.about-us-screen3-section4__image35.layout2 {
  position: absolute;
  top: 219px;
  height: 256px;
  left: 761px;
  width: 256px;
  min-width: 256px;
}
.about-us-screen3-section4__image35.layout3 {
  position: absolute;
  top: 219px;
  height: 256px;
  left: 1105px;
  width: 256px;
  min-width: 256px;
}
.about-us-screen3-section5__section5 {
  display: flex;
  flex-direction: column;
}
.about-us-screen3-section5__section5.layout {
  position: relative;
  height: 595px;
}
.about-us-screen3-section5__cover2 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section5__cover2.layout {
  position: absolute;
  top: 22px;
  height: 573px;
  left: 0px;
  width: 822px;
  min-width: 822px;
}
.about-us-screen3-section5__block4 {
  display: flex;
  flex-direction: column;
}
.about-us-screen3-section5__block4.layout {
  position: absolute;
  top: 148px;
  height: 330px;
  left: 458px;
  width: 326px;
  min-width: 326px;
}
.about-us-screen3-section5__decorator1 {
  background: var(--src) center center/cover no-repeat;
}
.about-us-screen3-section5__decorator1.layout {
  position: absolute;
  top: -41px;
  height: 330px;
  left: -75px;
  width: 326px;
}
.about-us-screen3-section5__hero-title3-box {
  width: 100%;
  height: 100%;
}
.about-us-screen3-section5__hero-title3 {
  font: 700 65px/1.64 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.about-us-screen3-section5__hero-title3-span0 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.about-us-screen3-section5__hero-title3-span1 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #ffffffff;
  letter-spacing: 0px;
}
.about-us-screen3-section5__subtitle4 {
  font: 700 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 5px;
}
.about-us-screen3-section5__subtitle4.layout {
  position: absolute;
  top: 88px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 79px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section5__box14 {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 5px 5px 5px 5px;
  opacity: 0;
}
.about-us-screen3-section5__box14.layout {
  position: absolute;
  top: 413px;
  height: 65px;
  left: 79px;
  width: 199px;
  min-width: 199px;
}
.about-us-screen3-section5__subtitle41 {
  font: 700 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.about-us-screen3-section5__subtitle41.layout {
  position: absolute;
  top: 434px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 126px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section5__medium-title-box {
  width: 100%;
  height: 100%;
}
.about-us-screen3-section5__medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.about-us-screen3-section5__medium-title1 {
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.about-us-screen3-section5__highlights4-box.layout {
  position: absolute;
  top: 272px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 894px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section5__highlights4 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 18px/2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.about-us-screen3-section5__highlights41 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.about-us-screen3-section5__highlights41.layout {
  position: absolute;
  top: 275px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1143px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section5__highlights42 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.about-us-screen3-section5__highlights42.layout {
  position: absolute;
  top: 311px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1143px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section5__highlights43 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.about-us-screen3-section5__highlights43.layout {
  position: absolute;
  top: 347px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1142px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-us-screen3-section5__highlights6 {
  font: 500 15.666217804px/1.6 "Quicksand", Helvetica, Arial, serif;
  color: #c6c9d8;
  letter-spacing: 0px;
}
.about-us-screen3-section5__highlights6.layout {
  position: absolute;
  top: 549px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1015px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-block {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.footer-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 810px;
}
.footer-cover {
  background: var(--src) center center/cover no-repeat;
}
.footer-cover.layout {
  position: absolute;
  top: 358px;
  height: 452px;
  left: 0px;
  width: 1440px;
  min-width: 1440px;
}
.footer-cover1 {
  background: var(--src) center center/cover no-repeat;
}
.footer-cover1.layout {
  position: absolute;
  top: 237px;
  height: 573px;
  left: 0px;
  width: 821px;
  min-width: 821px;
}
.footer-hero-title-box {
  width: 100%;
  height: 100%;
}
.footer-hero-title {
  font: 700 65px/1.64 "Futura", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
}
.footer-hero-title-span0 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}
.footer-hero-title-span1 {
  font: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
  color: #ffffffff;
  letter-spacing: 0px;
}
.footer-subtitle {
  font: 700 20px/3 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 5px;
}
.footer-subtitle.layout {
  position: absolute;
  top: 329px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 62px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-box {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 5px 5px 5px 5px;
  opacity: 0;
}
.footer-box.layout {
  position: absolute;
  top: 654px;
  height: 65px;
  left: 62px;
  width: 199px;
  min-width: 199px;
}
.footer-subtitle1 {
  font: 700 20px/1.2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.footer-subtitle1.layout {
  position: absolute;
  top: 675px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 109px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-block1 {
  display: flex;
  flex-direction: column;
}
.footer-block1.layout {
  position: absolute;
  top: 341px;
  height: 330px;
  left: 458px;
  width: 326px;
  min-width: 326px;
}
.footer-decorator {
  background: var(--src) center center/cover no-repeat;
}
.footer-decorator.layout {
  position: absolute;
  top: -41px;
  height: 330px;
  left: -75px;
  width: 326px;
}
.footer-medium-title-box {
  width: 100%;
  height: 100%;
}
.footer-medium-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.footer-medium-title1 {
  font: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}
.footer-highlights-box.layout {
  position: absolute;
  top: 472px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 900px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-highlights {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 500 18px/2 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.footer-highlights1 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.footer-highlights1.layout {
  position: absolute;
  top: 475px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1198px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-highlights2 {
  display: flex;
  align-items: center;
  font: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
.footer-highlights2.layout {
  position: absolute;
  top: 511px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1197px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-highlights11 {
  font: 500 15.666217804px/1.6 "Quicksand", Helvetica, Arial, serif;
  color: #c6c9d8;
  letter-spacing: 0px;
}
.footer-highlights11.layout {
  position: absolute;
  top: 762px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 1041px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: red;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}