body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  font: 500 1em/1.75 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  font-size: 14px;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}


@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

#hero {
  width: 100%;
  height: 80vh;
  background: black;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: white;
  margin-bottom: 50px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
      height: 60vh;
      text-align: center;
  }

  #hero .animated {
      -webkit-animation: none;
      animation: none;
  }

  #hero .hero-img {
      text-align: center;
  }

  #hero .hero-img img {
      width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
      font-size: 28px;
      line-height: 36px;
  }

  #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
  }

  #hero .hero-img img {
      width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
      width: 80%;
  }

  #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: black;
}

.content p {
  font-size: 20px;

}
.custom{
  margin: 0;
  padding-left: 81px
}

.section-title p {
  margin-bottom: 0;
}

.main-sec .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.main-sec .content ul {
  list-style: none;
  padding: 0;
}

.main-sec .content ul li {
  padding-left: 28px;
  position: relative;
}

.main-sec .content ul li+li {
  margin-top: 10px;
}

.main-sec .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.main-sec .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.main-sec .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}

.serv-icon{
  position: absolute;
  height: 65px;
    top: 25%;
    left: 38%;
}
.serv-arc{
  height: 140px;
}
.info{
  padding: 40px;
  box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1);
  overflow: hidden; 
}
.info h3 {
  font-weight: 600;
  font-size: 24px;
}
.info p {
  color: var(--color-secondary-light);
  margin-bottom: 30px;
  font-size: 15px;
}

.contact-us-subtitle2 {
  font: 500 20px/1.9 "Quicksand", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  width: 100%;
  opacity: 0.8;
}
#map{
  background-image: url("../src/assets/2019-12-17.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .form-container{
  margin-left: 2%;
  margin-right: 2%;
} */

label{
  font: 570 18px/1.77 "Futura", Helvetica, Arial, serif;
    color: black;
    letter-spacing: 0px;
}

.left-line{
  border-left: 2px solid black;
  padding-left: 50px;
}
@media only screen and (max-width: 768px) {
  .loca{
    left: 44%;
  }
}
@media only screen and (min-width: 712px) {
  .loca{
    left: 45%;
  }
}