@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;800&display=swap');

.container-1{
    background-color: black;
    height: 450px;
    /* width: 100%; */
}
.text{
    margin-top: 10%;
    margin-left: 7%;
}
.text1{
    color: white;
    font-weight: 800;
    font-family: "poppins" sans-serif;
    font-size: xxx-large;
}
.text2{
    color: #ff6700;
    font-weight: 800;
    font-family: "poppins" sans-serif;
    font-size: xxx-large;
}
.text3{
    color: white;
    font-weight: 400;
    font-family: "poppins" sans-serif;
    font-size: x-large;
}
.text4{
    /* color: black;
    font-weight: 800;
    font-family: "poppins" sans-serif;
    font-size: xx-large;     */
    font: 500 32px/0.91 "Futura", Helvetica, Arial, serif;
    color: black;
    letter-spacing: 0px;
}
.text5{
    /* color: #3a3a3ab0; */
    font: 600 1em/1.81 "Quicksand", Helvetica, Arial, serif;
    color: #3a3a3aff;
    letter-spacing: 0px;
}
.text6{
    /* color: #3a3a3aad;
    font-weight: 400;
    font-family: "poppins" sans-serif;
    font-size: larger;
    letter-spacing: 1px; */
    font: 1em/1.81 "Quicksand", Helvetica, Arial, serif;
    color: #3a3a3aff;
    letter-spacing: 0px;
}
b{
  font: 600 20px/1.49 "Quicksand", Helvetica, Arial, serif;
    color: #ff6700;
    letter-spacing: 0px;
    color: #ff6700;
    /* text-decoration: underline; */
}
.box-1{
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 6%;
    height: 650px;
    padding-top: 50px;
    padding-left: 50px;
    border: 5px solid white;
    box-shadow: 0px 13.6312503815px 40.025680542px 0px rgb(215 227 248 / 50%);
}
.image{
    height: 52%;
    margin-top: 10%;
}
.image1{
    height: 52%;
}
.image2{
    height: 20px;
}

@media only screen and (max-width: 1156px){
  .container-1{
    width: 110%;
  }
}