@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    align-items: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .xxs\:show {
        display: none;
    }

    .tn\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
        flex-direction: column;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
        flex-direction: column;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
        flex-direction: column;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
        flex-direction: column;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
        flex-direction: column;

    }

    .xs\:hide {
        display: none;
    }
}

@media (max-width: 480px) {
    .xxs\:show {
        display: flex;
        flex-direction: column;
    }

    .xxs\:hide {
        display: none;
    }
}

@media (max-width: 384px) {
    .tn\:show {
        display: flex;
        flex-direction: column;
    }

    .tn\:hide {
        display: none;
    }
}

@use "utils" as *;

$color_type_0: rgb(0, 0, 0);
$color_type_1: rgb(112, 112, 112);
$color_type_2: rgb(223, 223, 223);
$color_type_3: rgb(243, 111, 33);
$color_type_4: rgb(250, 250, 250);
$color_type_5: rgb(255, 103, 0);
$color_type_6: rgb(255, 216, 190);
$color_type_7: rgb(255, 255, 255);

$border_radius_type_0: 10px 10px 10px 10px;
$border_radius_type_1: 6px 6px 6px 6px;

$font_type_0: 400 40.104270935058594px/1.27 "Plus Jakarta Sans", Helvetica, Arial, serif;
$font_type_1: 500 20px/1.35 "Nunito", Helvetica, Arial, serif;
$font_type_2: 700 19.200000762939453px/1.5 "Nunito", Helvetica, Arial, serif;
$font_type_3: 400 18.653148651123047px/1.34 "Nunito", Helvetica, Arial, serif;
$font_type_4: 500 16px/1.37 "Nunito", Helvetica, Arial, serif;
$font_type_5: 500 16.78783416748047px/1.37 "Nunito", Helvetica, Arial, serif;
$font_type_6: 400 14px/1.35 "Nunito", Helvetica, Arial, serif;
$font_type_7: 400 13.057204246520996px/1.22 "Plus Jakarta Sans", Helvetica, Arial, serif;

.root {
  @include flex-column;
  background-color: $color_type_4;
  position: relative;
  overflow: hidden;
  min-height: 1024px;
}
.rect {
  background-color: $color_type_7;
  width: 730px;
  height: 1021px;
  position: absolute;
  top: 3px;
  left: 0px;
  min-width: 730px;
}
.image {
  width: 233px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 232px;
  left: 815px;
  min-width: 233px;
}
.wrapper {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
  width: 572px;
  height: 604px;
  position: absolute;
  top: 211px;
  left: 762px;
  min-width: 572px;
}
.highlights {
  @include font-face($font_type_3, $color_type_1, -0.1px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 222px;
  left: 90px;
  min-width: 0px;
}
.hero_title {
  @include font-face($font_type_0, $color_type_0, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 155px;
  left: 90px;
  min-width: 0px;
}
.wrapper1 {
  @include flex-column;
  background: var(--src) center center / cover no-repeat;
  width: 235px;
  height: 34px;
  position: absolute;
  top: 83px;
  left: 90px;
  min-width: 235px;
}
.cover {
  width: 266px;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 305px;
  left: 90px;
  min-width: 266px;
}
.cover1 {
  width: 266px;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 305px;
  left: 365px;
  min-width: 266px;
}
.text {
  @include font-face($font_type_7, $color_type_1, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 274px;
  left: 90px;
  min-width: 0px;
}
.rect1 {
  background-color: $color_type_6;
  border-radius: $border_radius_type_0;
  outline: 3px solid rgb(243, 111, 33);
  outline-offset: -3px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 332px;
  left: 113px;
  min-width: 20px;
}
.rect2 {
  background-color: $color_type_2;
  border-radius: $border_radius_type_0;
  outline: 3px solid rgb(153, 153, 153);
  outline-offset: -3px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 332px;
  left: 384px;
  min-width: 20px;
}
.subtitle {
  @include font-face($font_type_1, $color_type_5, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 328px;
  left: 168px;
  min-width: 0px;
}
.subtitle1 {
  @include font-face($font_type_1, $color_type_1, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 328px;
  left: 432px;
  min-width: 0px;
}
.cover11 {
  width: 541px;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 416px;
  left: 92px;
  min-width: 541px;
}
.text1 {
  @include font-face($font_type_7, $color_type_1, 0px);
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.highlights1 {
  @include font-face($font_type_5, $color_type_1, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 449px;
  min-height: 23px;
  left: 131px;
  min-width: 0px;
}
.rect3 {
  background-color: $color_type_3;
  width: 7px;
  height: 75px;
  position: absolute;
  top: 416px;
  left: 93px;
  min-width: 7px;
}
.cover2 {
  width: 540px;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 524px;
  left: 92px;
  min-width: 540px;
}
.cover21 {
  width: 540px;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 632px;
  left: 92px;
  min-width: 540px;
}
.cover22 {
  width: 540px;
  height: auto;
  filter: drop-shadow(0px 11.191888809204102px 37.306297302246094px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 740px;
  left: 92px;
  min-width: 540px;
}
.text2 {
  @include font-face($font_type_7, $color_type_1, 0px);
  width: 100%;
  height: 100%;
}
.text3 {
  @include font-face($font_type_7, $color_type_1, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 660px;
  left: 131px;
  min-width: 0px;
}
.text4 {
  @include font-face($font_type_7, $color_type_1, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 768px;
  left: 131px;
  min-width: 0px;
}
.icon {
  width: 8px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 557px;
  left: 591px;
  min-width: 8px;
}
.icon1 {
  width: 20px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 551px;
  left: 585px;
  min-width: 20px;
}
.image3 {
  width: 22px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 660px;
  left: 584px;
  min-width: 22px;
}
.icon2 {
  width: 6px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 665px;
  left: 592px;
  min-width: 6px;
}
.image31 {
  width: 22px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 769px;
  left: 584px;
  min-width: 22px;
}
.icon21 {
  width: 6px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 774px;
  left: 592px;
  min-width: 6px;
}
.image4 {
  width: 16px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 456px;
  left: 587px;
  min-width: 16px;
}
.icon3 {
  width: 8px;
  height: auto;
  vertical-align: top;
  object-fit: contain;
  object-position: center top;
  position: absolute;
  top: 444px;
  left: 591px;
  min-width: 8px;
}
.wrapper2 {
  @include flex-column;
  background-color: $color_type_5;
  border-radius: $border_radius_type_1;
  width: 539px;
  height: 58px;
  position: absolute;
  top: 857px;
  left: 93px;
  min-width: 539px;
}
.highlights2 {
  @include font-face($font_type_2, $color_type_7, 0px);
  width: 99px;
  position: relative;
  flex-grow: 1;
  min-height: 29px;
  min-width: 99px;
  margin: 14px auto 15px;
}
.text11 {
  @include font-face($font_type_6, $color_type_1, -0.1px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 935px;
  min-height: 19px;
  left: 251px;
  min-width: 0px;
}
.highlights3 {
  @include font-face($font_type_4, $color_type_5, 0px);
  width: fit-content;
  height: min-content;
  position: absolute;
  top: 933px;
  left: 417px;
  min-width: 0px;
}

$mq-breakpoints: (tn: 384, xxs: 480, xs: 576, sm: 768, md: 992,
        lg: 1200, xl: 1400, xxl: 1920, xxxl: 3000, max: 100000);

@function breakpoint-max($name, $breakpoints: $mq-breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max > 0, $max - 1, null);
}

@function breakpoint-min($name, $breakpoints: $mq-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin tn {
  $max: breakpoint-max(tn, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin xxs {
  $max: breakpoint-max(xxs, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin xs {
  $max: breakpoint-max(xs, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin sm {
  $max: breakpoint-max(sm, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin md {
  $max: breakpoint-max(md, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin lg {
  $max: breakpoint-max(lg, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin xl {
  $max: breakpoint-max(xl, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin xxl {
  $max: breakpoint-max(xxl, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin xxxl {
  $max: breakpoint-max(xxxl, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin max {
  $max: breakpoint-max(max, $mq-breakpoints);
  @media(max-width: #{$max}px) {
    @content;
  }
}

@mixin mq-down($name, $breakpoints: $mq-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: #{$max}px) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin mq-between($lower, $upper, $breakpoints: $mq-breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @media (min-width: #{$min}px) and (max-width: #{$max}px) {
    @content;
  }
}

@mixin h-center-content {
  display: flex;
  justify-content: center;
}

@mixin v-center-content {
  display: flex;
  align-items: center;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-item($grow: 0, $shrink: 1, $basis: auto) {
  display: flex;
  position: relative;
  flex: $grow $shrink $basis;
}

@mixin font-face($font, $color, $letterSpacing: 0px) {
  font: $font;
  color: $color;
  letter-spacing: $letterSpacing;
}
.root {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
  min-height: 1024px;
}

.rect {
  background-color: white;
  width: 730px;
  height: 1021px;
  position: absolute;
  top: 3px;
  left: 0px;
  min-width: 730px;
}

.image {
  width: 233px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 232px;
  left: 815px;
  min-width: 233px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  width: 572px;
  height: 604px;
  position: absolute;
  top: 211px;
  left: 762px;
  min-width: 572px;
}

.highlights {
  font: 400 18.6531486511px/1.34 "Nunito", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: -0.1px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 222px;
  left: 90px;
  min-width: 0px;
}

.hero_title {
  font: 400 40.1042709351px/1.27 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 155px;
  left: 90px;
  min-width: 0px;
}

.wrapper1 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  width: 235px;
  height: 34px;
  position: absolute;
  top: 83px;
  left: 90px;
  min-width: 235px;
}

.cover {
  width: 266px;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 305px;
  left: 90px;
  min-width: 266px;
}

.cover1 {
  width: 266px;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 305px;
  left: 365px;
  min-width: 266px;
}

.text {
  font: 400 13.0572042465px/1.22 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 274px;
  left: 90px;
  min-width: 0px;
}

.rect1 {
  background-color: #ffd8be;
  border-radius: 10px 10px 10px 10px;
  outline: 3px solid #f36f21;
  outline-offset: -3px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 332px;
  left: 113px;
  min-width: 20px;
}

.rect2 {
  background-color: #dfdfdf;
  border-radius: 10px 10px 10px 10px;
  outline: 3px solid #999999;
  outline-offset: -3px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 332px;
  left: 384px;
  min-width: 20px;
}

.subtitle {
  font: 500 20px/1.35 "Nunito", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 328px;
  left: 168px;
  min-width: 0px;
}

.subtitle1 {
  font: 500 20px/1.35 "Nunito", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 328px;
  left: 432px;
  min-width: 0px;
}

.cover11 {
  width: 541px;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 416px;
  left: 92px;
  min-width: 541px;
}

.text1 {
  font: 400 13.0572042465px/1.22 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.highlights1 {
  font: 500 16.7878341675px/1.37 "Nunito", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 449px;
  min-height: 23px;
  left: 131px;
  min-width: 0px;
}

.rect3 {
  background-color: #f36f21;
  width: 7px;
  height: 75px;
  position: absolute;
  top: 416px;
  left: 93px;
  min-width: 7px;
}

.cover2 {
  width: 540px;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 524px;
  left: 92px;
  min-width: 540px;
}

.cover21 {
  width: 540px;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 632px;
  left: 92px;
  min-width: 540px;
}

.cover22 {
  width: 540px;
  height: auto;
  filter: drop-shadow(0px 11.1918888092px 37.3062973022px rgba(0, 0, 0, 0.074));
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 740px;
  left: 92px;
  min-width: 540px;
}

.text2 {
  font: 400 13.0572042465px/1.22 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: 100%;
  height: 100%;
}

.text3 {
  font: 400 13.0572042465px/1.22 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 660px;
  left: 131px;
  min-width: 0px;
}

.text4 {
  font: 400 13.0572042465px/1.22 "Plus Jakarta Sans", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 768px;
  left: 131px;
  min-width: 0px;
}

.icon {
  width: 8px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 557px;
  left: 591px;
  min-width: 8px;
}

.icon1 {
  width: 20px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 551px;
  left: 585px;
  min-width: 20px;
}

.image3 {
  width: 22px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 660px;
  left: 584px;
  min-width: 22px;
}

.icon2 {
  width: 6px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 665px;
  left: 592px;
  min-width: 6px;
}

.image31 {
  width: 22px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 769px;
  left: 584px;
  min-width: 22px;
}

.icon21 {
  width: 6px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 774px;
  left: 592px;
  min-width: 6px;
}

.image4 {
  width: 16px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 456px;
  left: 587px;
  min-width: 16px;
}

.icon3 {
  width: 8px;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
  position: absolute;
  top: 444px;
  left: 591px;
  min-width: 8px;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  background-color: #ff6700;
  border-radius: 6px 6px 6px 6px;
  width: 539px;
  height: 58px;
  position: absolute;
  top: 857px;
  left: 93px;
  min-width: 539px;
}

.highlights2 {
  font: 700 19.2000007629px/1.5 "Nunito", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  width: 99px;
  position: relative;
  flex-grow: 1;
  min-height: 29px;
  min-width: 99px;
  margin: 14px auto 15px;
}

.text11 {
  font: 400 14px/1.35 "Nunito", Helvetica, Arial, serif;
  color: #707070;
  letter-spacing: -0.1px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 935px;
  min-height: 19px;
  left: 251px;
  min-width: 0px;
}

.highlights3 {
  font: 500 16px/1.37 "Nunito", Helvetica, Arial, serif;
  color: #ff6700;
  letter-spacing: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 933px;
  left: 417px;
  min-width: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    align-items: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .xxs\:show {
        display: none;
    }

    .tn\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
        flex-direction: column;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
        flex-direction: column;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
        flex-direction: column;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
        flex-direction: column;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
        flex-direction: column;

    }

    .xs\:hide {
        display: none;
    }
}

@media (max-width: 480px) {
    .xxs\:show {
        display: flex;
        flex-direction: column;
    }

    .xxs\:hide {
        display: none;
    }
}

@media (max-width: 384px) {
    .tn\:show {
        display: flex;
        flex-direction: column;
    }

    .tn\:hide {
        display: none;
    }
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}
