/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$color_type_0: #000000ff;
$color_type_1: #ff6700ff;
$color_type_2: #ffffffff;
$color_type_3: rgb(0, 0, 0);
$color_type_4: rgb(0, 178, 255);
$color_type_5: rgb(122, 122, 122);
$color_type_6: rgb(198, 201, 216);
$color_type_7: rgb(255, 103, 0);
$color_type_8: rgb(255, 247, 242);
$color_type_9: rgb(255, 255, 255);
$color_type_10: rgb(47, 155, 255);
$color_type_11: rgba(0, 0, 0, 0);

$font_type_0: 700 65px/1.64 "Futura", Helvetica, Arial, serif;
$font_type_1: 500 44px/1.36 "Futura", Helvetica, Arial, serif;
$font_type_2: 500 33px/1.81 "Futura", Helvetica, Arial, serif;
$font_type_3: 500 28px/2.14 "Futura", Helvetica, Arial, serif;
$font_type_4: 500 25px/1.75 "Futura", Helvetica, Arial, serif;
$font_type_5: 700 24px/1.24 "Quicksand", Helvetica, Arial, serif;
$font_type_6: 700 20px/3 "Quicksand", Helvetica, Arial, serif;
$font_type_7: 500 20px/2 "Quicksand", Helvetica, Arial, serif;
$font_type_8: 500 20px/1.75 "Quicksand", Helvetica, Arial, serif;
$font_type_9: 500 20px/1.49 "Quicksand", Helvetica, Arial, serif;
$font_type_10: 700 20px/1.2 "Quicksand", Helvetica, Arial, serif;
$font_type_11: 500 20px/1.2 "Quicksand", Helvetica, Arial, serif;
$font_type_12: 500 19.05292510986328px/1.49 "Quicksand", Helvetica, Arial, serif;
$font_type_13: 500 18px/2 "Quicksand", Helvetica, Arial, serif;
$font_type_14: 500 18px/1.66 "Quicksand", Helvetica, Arial, serif;
$font_type_15: 18px/1.66 "Quicksand", Helvetica, Arial, serif;
$font_type_16: 500 18px/1.33 "Futura", Helvetica, Arial, serif;
$font_type_17: 700 18px/1.33 "Futura", Helvetica, Arial, serif;
$font_type_18: 500 16px/1.78 "Quicksand", Helvetica, Arial, serif;
$font_type_19: 500 15.666217803955078px/1.6 "Quicksand", Helvetica, Arial, serif;
$font_type_20: 700 1em/1.64 "Futura", Helvetica, Arial, serif;
$font_type_21: 500 1em/1.81 "Futura", Helvetica, Arial, serif;
$font_type_22: 500 1em/1.36 "Futura", Helvetica, Arial, serif;

.untitled-page {
  &-block {
    @include flex-column;
    background-color: $color_type_9;
  }
  &-block.layout {
    position: relative;
    overflow: hidden;
    min-height: 2407px;
  }
  &-group {
    @include flex-column;
    background-color: $color_type_9;
  }
  &-group.layout {
    position: absolute;
    top: 0px;
    height: 88px;
    left: 0px;
    width: 1440px;
    min-width: 1440px;
  }
  &-group1 {
    @include flex-column;
  }
  &-group1.layout {
    position: absolute;
    top: 32px;
    height: 30px;
    left: 79px;
    width: 207px;
  }
  &-image {
    background: var(--src) center center / cover no-repeat;
  }
  &-image.layout {
    position: relative;
    height: 30px;
  }
  &-cover {
    background: var(--src) center center / cover no-repeat;
  }
  &-cover.layout {
    position: absolute;
    top: 1834px;
    height: 573px;
    left: 0px;
    width: 822px;
    min-width: 822px;
  }
  &-block1 {
    @include flex-column;
  }
  &-block1.layout {
    position: absolute;
    top: 1960px;
    height: 330px;
    left: 458px;
    width: 326px;
    min-width: 326px;
  }
  &-decorator2 {
    background: var(--src) center center / cover no-repeat;
  }
  &-decorator2.layout {
    position: absolute;
    top: -41px;
    height: 330px;
    left: -75px;
    width: 326px;
  }
  &-hero-title-box {
    width: 100%;
    height: 100%;
  }
  &-hero-title {
    @include font-face($font_type_0, $color_type_3, 0px);
  }
  &-hero-title-span0 {
    @include font-face($font_type_20, $color_type_0, 0px);
  }
  &-hero-title-span1 {
    @include font-face($font_type_20, $color_type_2, 0px);
  }
  &-subtitle {
    @include font-face($font_type_6, $color_type_9, 5px);
  }
  &-subtitle.layout {
    position: absolute;
    top: 1900px;
    height: min-content;
    left: 79px;
    min-width: 0px;
    width: fit-content;
  }
  &-box3 {
    background-color: $color_type_11;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    opacity: 0;
  }
  &-box3.layout {
    position: absolute;
    top: 2225px;
    height: 65px;
    left: 79px;
    width: 199px;
    min-width: 199px;
  }
  &-subtitle1 {
    @include font-face($font_type_10, $color_type_9, 0px);
  }
  &-subtitle1.layout {
    position: absolute;
    top: 2246px;
    height: min-content;
    left: 126px;
    min-width: 0px;
    width: fit-content;
  }
  &-medium-title-box {
    width: 100%;
    height: 100%;
  }
  &-medium-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_4, $color_type_9, 0px);
    white-space: pre-wrap;
  }
  &-medium-title1 {
    @include font-face($font_type_4, $color_type_9, 0px);
    width: 100%;
    height: 100%;
  }
  &-highlights-box.layout {
    position: absolute;
    top: 2084px;
    height: min-content;
    left: 894px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_13, $color_type_9, 0px);
    white-space: pre-wrap;
  }
  &-highlights1 {
    @include v-center-content;
    @include font-face($font_type_14, $color_type_9, 0px);
  }
  &-highlights1.layout {
    position: absolute;
    top: 2087px;
    height: min-content;
    left: 1143px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights2 {
    @include v-center-content;
    @include font-face($font_type_14, $color_type_9, 0px);
  }
  &-highlights2.layout {
    position: absolute;
    top: 2123px;
    height: min-content;
    left: 1142px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights11 {
    @include font-face($font_type_19, $color_type_6, 0px);
  }
  &-highlights11.layout {
    position: absolute;
    top: 2361px;
    height: min-content;
    left: 1015px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights21 {
    @include font-face($font_type_16, $color_type_3, 0px);
  }
  &-highlights21.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 730px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights22 {
    @include font-face($font_type_16, $color_type_3, 0px);
  }
  &-highlights22.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 838px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights23 {
    @include font-face($font_type_16, $color_type_3, 0px);
  }
  &-highlights23.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 975px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights3 {
    @include font-face($font_type_17, $color_type_7, 0px);
  }
  &-highlights3.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 1113px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights24 {
    @include font-face($font_type_16, $color_type_3, 0px);
  }
  &-highlights24.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 1232px;
    min-width: 0px;
    width: fit-content;
  }
  &-highlights25 {
    @include font-face($font_type_16, $color_type_3, 0px);
  }
  &-highlights25.layout {
    position: absolute;
    top: 35px;
    height: min-content;
    left: 650px;
    min-width: 0px;
    width: fit-content;
  }
  &-icon {
    background: var(--src) center center / cover no-repeat;
  }
  &-icon.layout {
    position: absolute;
    top: 40px;
    height: 14px;
    left: 1352px;
    width: 14px;
    min-width: 14px;
  }
  &-big-title-box.layout {
    position: absolute;
    top: 470px;
    height: min-content;
    left: 76px;
    min-width: 0px;
    width: fit-content;
  }
  &-big-title {
    @include font-face($font_type_2, $color_type_3, 0px);
  }
  &-big-title-span0 {
    @include font-face($font_type_21, $color_type_0, 0px);
  }
  &-big-title-span1 {
    @include font-face($font_type_21, $color_type_1, 0px);
  }
  &-hero-title1-box.layout {
    position: absolute;
    top: 179px;
    height: min-content;
    left: 257px;
    min-width: 0px;
    width: fit-content;
  }
  &-hero-title1 {
    @include font-face($font_type_1, $color_type_3, 0px);
  }
  &-hero-title1-span0 {
    @include font-face($font_type_22, $color_type_0, 0px);
  }
  &-hero-title1-span1 {
    @include font-face($font_type_22, $color_type_1, 0px);
  }
  &-big-title-box.layout1 {
    position: absolute;
    top: 1494px;
    height: min-content;
    left: 76px;
    min-width: 0px;
    width: fit-content;
  }
  &-big-title1-span0 {
    @include font-face($font_type_21, $color_type_0, 0px);
  }
  &-big-title1-span1 {
    @include font-face($font_type_21, $color_type_1, 0px);
  }
  &-big-title-box.layout2 {
    position: absolute;
    top: 807px;
    height: min-content;
    left: 76px;
    min-width: 0px;
    width: fit-content;
  }
  &-subtitle11 {
    @include font-face($font_type_8, $color_type_3, 0px);
    width: 100%;
    height: 100%;
  }
  &-subtitle12-box {
    width: 100%;
    height: 100%;
  }
  &-subtitle12 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_7, $color_type_3, 0px);
    white-space: pre-wrap;
  }
  &-subtitle13-box {
    width: 100%;
    height: 100%;
  }
  &-subtitle13 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    @include font-face($font_type_7, $color_type_3, 0px);
    white-space: pre-wrap;
  }
  &-box4 {
    background-color: $color_type_7;
    border-radius: 2px 2px 2px 2px;
  }
  &-box4.layout {
    position: absolute;
    top: 899px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout1 {
    position: absolute;
    top: 982px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout2 {
    position: absolute;
    top: 1021px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout3 {
    position: absolute;
    top: 1101px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout4 {
    position: absolute;
    top: 1140px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout5 {
    position: absolute;
    top: 1260px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout6 {
    position: absolute;
    top: 1341px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout7 {
    position: absolute;
    top: 1422px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout8 {
    position: absolute;
    top: 1586px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout9 {
    position: absolute;
    top: 1626px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout10 {
    position: absolute;
    top: 1666px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box4.layout11 {
    position: absolute;
    top: 1746px;
    height: 11px;
    left: 82px;
    width: 11px;
    min-width: 11px;
  }
  &-box5 {
    background-color: $color_type_8;
    border-radius: 13px 13px 13px 13px;
  }
  &-box5.layout {
    position: absolute;
    top: 452px;
    height: 862px;
    left: 968px;
    width: 398px;
    min-width: 398px;
  }
  &-box6 {
    background-color: $color_type_8;
    border-radius: 13px 13px 13px 13px;
  }
  &-box6.layout {
    position: absolute;
    top: 1338px;
    height: 233px;
    left: 968px;
    width: 398px;
    min-width: 398px;
  }
  &-box7 {
    background-color: $color_type_8;
    border-radius: 13px 13px 13px 13px;
  }
  &-box7.layout {
    position: absolute;
    top: 1595px;
    height: 164px;
    left: 968px;
    width: 398px;
    min-width: 398px;
  }
  &-medium-title11 {
    @include h-center-content;
    font: $font_type_5;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-medium-title12 {
    @include h-center-content;
    font: $font_type_5;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-medium-title13 {
    @include h-center-content;
    font: $font_type_5;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-medium-title14 {
    @include h-center-content;
    font: $font_type_5;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-medium-title15 {
    @include h-center-content;
    font: $font_type_5;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-medium-title16 {
    @include h-center-content;
    font: $font_type_5;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-medium-title17 {
    @include h-center-content;
    font: $font_type_5;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-subtitle14 {
    @include h-center-content;
    font: $font_type_9;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-subtitle15 {
    @include h-center-content;
    font: $font_type_9;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-subtitle16-box {
    @include h-center-content;
    width: 100%;
    height: 100%;
  }
  &-subtitle16 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type_9;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    white-space: pre-wrap;
  }
  &-highlights4 {
    @include h-center-content;
    font: $font_type_15;
    color: $color_type_5;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-subtitle17 {
    @include h-center-content;
    font: $font_type_9;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-subtitle18 {
    @include h-center-content;
    font: $font_type_9;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-subtitle19 {
    @include h-center-content;
    font: $font_type_9;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-subtitle110 {
    @include h-center-content;
    font: $font_type_9;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-box8 {
    background-color: $color_type_9;
    box-shadow: 0px 3.8105850219726562px 57.158775329589844px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 2.857938766479492px 2.857938766479492px 2.857938766479492px 2.857938766479492px;
  }
  &-box8.layout {
    position: absolute;
    top: 1436px;
    height: 39px;
    left: 995px;
    width: 91px;
    min-width: 91px;
  }
  &-box9 {
    background-color: $color_type_9;
    box-shadow: 0px 3.8105850219726562px 57.158775329589844px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 2.857938766479492px 2.857938766479492px 2.857938766479492px 2.857938766479492px;
  }
  &-box9.layout {
    position: absolute;
    top: 1694px;
    height: 35px;
    left: 1001px;
    width: 129px;
    min-width: 129px;
  }
  &-box10 {
    background-color: $color_type_9;
    box-shadow: 0px 3.8105850219726562px 57.158775329589844px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 2.857938766479492px 2.857938766479492px 2.857938766479492px 2.857938766479492px;
  }
  &-box10.layout {
    position: absolute;
    top: 1694px;
    height: 35px;
    left: 1142px;
    width: 113px;
    min-width: 113px;
  }
  &-box11 {
    background-color: $color_type_9;
    box-shadow: 0px 3.8105850219726562px 57.158775329589844px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 2.857938766479492px 2.857938766479492px 2.857938766479492px 2.857938766479492px;
  }
  &-box11.layout {
    position: absolute;
    top: 1436px;
    height: 39px;
    left: 1097px;
    width: 114px;
    min-width: 114px;
  }
  &-box11.layout1 {
    position: absolute;
    top: 1436px;
    height: 39px;
    left: 1223px;
    width: 114px;
    min-width: 114px;
  }
  &-box12 {
    background-color: $color_type_9;
    box-shadow: 0px 3.8105850219726562px 57.158775329589844px 0px rgba(0, 0, 0, 0.027450980392156862);
    border-radius: 2.857938766479492px 2.857938766479492px 2.857938766479492px 2.857938766479492px;
  }
  &-box12.layout {
    position: absolute;
    top: 1491px;
    height: 39px;
    left: 995px;
    width: 189px;
    min-width: 189px;
  }
  &-highlights5 {
    @include h-center-content;
    font: $font_type_12;
    color: $color_type_3;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-highlights6 {
    @include h-center-content;
    font: $font_type_18;
    color: $color_type_10;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-highlights7 {
    @include h-center-content;
    font: $font_type_18;
    color: $color_type_4;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-image1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image1.layout {
    position: absolute;
    top: 701px;
    height: 42px;
    left: 1008px;
    width: 32px;
    min-width: 32px;
  }
  &-icon1 {
    background: var(--src) center center / cover no-repeat;
  }
  &-icon1.layout {
    position: absolute;
    top: 600px;
    height: 33px;
    left: 1008px;
    width: 32px;
    min-width: 32px;
  }
  &-image2 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image2.layout {
    position: absolute;
    top: 814px;
    height: 35px;
    left: 1005px;
    width: 39px;
    min-width: 39px;
  }
  &-icon2 {
    background: var(--src) center center / cover no-repeat;
  }
  &-icon2.layout {
    position: absolute;
    top: 1236px;
    height: 39px;
    left: 1006px;
    width: 38px;
    min-width: 38px;
  }
  &-image3 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image3.layout {
    position: absolute;
    top: 913px;
    height: 41px;
    left: 1009px;
    width: 29px;
    min-width: 29px;
  }
  &-image4 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image4.layout {
    position: absolute;
    top: 1127px;
    height: 40px;
    left: 1008px;
    width: 31px;
    min-width: 31px;
  }
  &-icon3 {
    background: var(--src) center center / cover no-repeat;
  }
  &-icon3.layout {
    position: absolute;
    top: 1023px;
    height: 35px;
    left: 1006px;
    width: 36px;
    min-width: 36px;
  }
  &-image5 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image5.layout {
    position: absolute;
    top: 1703px;
    height: 18px;
    left: 1011px;
    width: 9px;
    min-width: 9px;
  }
  &-image6 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image6.layout {
    position: absolute;
    top: 1703px;
    height: 16px;
    left: 1155px;
    width: 17px;
    min-width: 17px;
  }
  &-image7 {
    background: var(--src) center center / cover no-repeat;
    border-radius: 7px 7px 7px 7px;
  }
  &-image7.layout {
    position: absolute;
    top: 176px;
    height: 143px;
    left: 88px;
    width: 143px;
    min-width: 143px;
  }
  &-image8 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image8.layout {
    position: absolute;
    top: 266px;
    height: 24px;
    left: 257px;
    width: 28px;
    min-width: 28px;
  }
  &-image9 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image9.layout {
    position: absolute;
    top: 266px;
    height: 24px;
    left: 471px;
    width: 18px;
    min-width: 18px;
  }
  &-highlights8 {
    @include h-center-content;
    font: $font_type_14;
    color: $color_type_5;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: 100%;
  }
  &-icon4 {
    background: var(--src) center center / cover no-repeat;
  }
  &-icon4.layout {
    position: absolute;
    top: 266px;
    height: 24px;
    left: 613px;
    width: 23px;
    min-width: 23px;
  }
  &-highlights81 {
    @include h-center-content;
    font: $font_type_14;
    color: $color_type_5;
    text-align: center;
    letter-spacing: 0px;
  }
  &-highlights81.layout {
    position: absolute;
    top: 263px;
    height: min-content;
    left: 0px;
    right: 0px;
    min-width: 0px;
    width: fit-content;
    margin: 0px auto;
  }
  &-image10 {
    background: var(--src) center center / cover no-repeat;
  }
  &-image10.layout {
    position: absolute;
    top: 266px;
    height: 24px;
    left: 770px;
    width: 27px;
    min-width: 27px;
  }
  &-highlights82-box {
    @include h-center-content;
    width: 100%;
    height: 100%;
  }
  &-highlights82 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type_14;
    color: $color_type_5;
    text-align: center;
    letter-spacing: 0px;
    white-space: pre-wrap;
  }
  &-box13 {
    background-color: $color_type_7;
    border-radius: 5px 5px 5px 5px;
  }
  &-box13.layout {
    position: absolute;
    top: 206px;
    height: 65px;
    left: 1167px;
    width: 199px;
    min-width: 199px;
  }
  &-subtitle2 {
    @include font-face($font_type_11, $color_type_9, 0px);
  }
  &-subtitle2.layout {
    position: absolute;
    top: 227px;
    height: min-content;
    left: 1216px;
    min-width: 0px;
    width: fit-content;
  }
  &-big-title1 {
    @include font-face($font_type_3, $color_type_3, 0px);
  }
  &-big-title1.layout {
    position: absolute;
    top: 476px;
    height: min-content;
    left: 1005px;
    min-width: 0px;
    width: fit-content;
  }
  &-big-title11 {
    @include font-face($font_type_3, $color_type_3, -0.2px);
  }
  &-big-title11.layout {
    position: absolute;
    top: 1362px;
    height: min-content;
    left: 1005px;
    min-width: 0px;
    width: fit-content;
  }
  &-big-title1.layout1 {
    position: absolute;
    top: 1619px;
    height: min-content;
    left: 1005px;
    min-width: 0px;
    width: fit-content;
  }
}
